{% extends 'layout_landings.html' %}
{% from 'helpers/_forms.html' import render_field %}
{% block content %}
{% block stilos%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_login.css') }}">
{% endblock%}


<div class="container d-flex justify-content-center w-100">
  <div class="col-md-12 col-md-offset-1 flash">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="alert-container">
          {% for category, message in messages %}
            {% if category == 'error' %}
              <div class="alert alert-danger alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% else %}
              <div class="alert alert-success alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </div>
</div>

<main   >

  <div class="login_contenedor row col-9 mb-2"  >
    <div class="imagen_login col-xl-6 col-lg-6 col-sm-12">

      <img src="{{ url_for('static', filename='img/montana_galon_planta.jpg') }}" alt="">
    </div>
    <div class="formulario_login col-xl-6 col-sm-12 col-lg-6 ">
      <form method="POST"  class="w-100">
        <div class="titulo"> <h3> Inicio de sesión </h3></div>
        
        <div class="primer_input col-12 ">
          <div class="row">
            <div class="input-container col-2"  >
              {{ render_field(form.rif, class ="entrada rif", id="person") }}
              <label for="person" class="label">Usuario</label>
              <div class="underline"></div>
            </div>
         
            <div class="input-container col" style="margin-right: 13px;" >
            {{ render_field(form.n_rif, class ="entrada", id="usuario" ) }}
            <div class="underline" style="margin-left: 10px; max-width: 100.9vh; " ></div>
            </div>
          </div>
          
        </div>

         <!--PASSWORD-->
         <div class="input-container">
          {{ render_field(form.clave, class ="entrada", id="password" ) }}
          <label for="password" class="label">Ingrese la Contraseña</label>
          <div class="underline"></div>
        </div>
        <div class="elboton d-flex justify-content-center" >
          {{ form.honeypot }}
          <input type ="hidden" name ="csrf_token" value ="{{csrf_token()}}"/>
          <button class="submit " > <span>Enviar</span></button >
        </div>

       
      </form>
    </div>
  </div>


</main>


{% endblock %}

