{% extends 'layout_landings.html' %}
{% block container %}
<div class="error">

    <div class="container contenedor_genericos ">
        <div class="row d-flex justify-content-center align-items-center sub">
            <div class="tools ">
                <div class="circle">
                  <span class="red box"></span>
                </div>
                <div class="circle">
                  <span class="yellow box"></span>
                </div>
                <div class="circle">
                  <span class="green box"></span>
                </div>
              </div>
            <div class="texto_error text-center col" style="margin-left: 50px;">
                <h6>ERROR</h6>
                <h2 class="">404</h2>
                <p>La pagina solicitada no fue encontrada/ click para ir al inicio</p>
            </div>
            <div class="imagen_error d-flex justify-content-center align-items-center col">
                <img src="static/img/2montana-removebg-preview.png" alt="" style="margin-left: -50px;">
            </div>
        </div>
        <div class="error_footer">

        </div>
    </div>
</div>


{% endblock %}