{% if current_user %}
  {% extends 'layout.html' %}
{% else %}
  {% extends 'layout_landings.html' %}
{% endif %}
{% block content %}
<div class="error">

    <div class="container contenedor_genericos ">
        <div class="row d-flex justify-content-center align-items-center col">
            <div class="tools ">
                <div class="circle">
                  <span class="red box"></span>
                </div>
                <div class="circle">
                  <span class="yellow box"></span>
                </div>
                <div class="circle">
                  <span class="green box"></span>
                </div>
              </div>
            <div class="texto_error text-center col">
                <h6>Página en construcción</h6>
                <h2 class="prox">Disponible proximamente</h2>
                <p>Ponte en contacto con nosotros <a href="/contacto">aquí</a></p>
            </div>
            <div class="imagen_construccion d-flex justify-content-center align-items-center col" >
                <img src="static/img/4montana-removebg-preview.png" alt="">
            </div>
        </div>

    </div>
</div>
{% endblock %}