{% extends 'layout_landings.html' %}
{% from 'helpers/_forms.html' import render_field %}
{% block content %}



<main class="px-3" style="min-height: 100vh;padding: 120px 0px 50px 0;" >
    
    <div class="contenedor_detalles  container position-relative mb-4 p-2 pb-5">
        <div class="row d-flex justify-content-around p-2 position-relative">
            <div class="imagen_detalles col-xl-5 col-lg-5 col-md-5 col-sm-12 d-flex  justify-content-center align-items-center" >
                <img src="/static/img/AV 2000 BRILLO.png" alt="">
            </div>
            
            <div class="especificaciones col-xl-6 col-lg-6 col-md-6 col-sm-12 position-relative">
                <h1 class="titulo w-100 ">AV-2000 BRILLO DE SEDA</h1>


                <h3 class="subtitulo-esp">Colores disponibles:</h3>

                <!-- Estructura del Swiper -->
                <div class="mi-swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slide 1 -->
                        <div class="swiper-slide">
                            <div class="colores mb-2">
                                <div class="palette">
                                    <div class="color"><span>264653</span></div>
                                    <div class="color"><span>2A9D8F</span></div>
                                    <div class="color"><span>E9C46A</span></div>
                                    <div class="color"><span>F4A261</span></div>
                                    <div class="color"><span>E76F51</span></div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 2 -->
                        <div class="swiper-slide">
                            <div class="colores mb-2">
                                <div class="palette">
                                    <div class="color"><span>264653</span></div>
                                    <div class="color"><span>2A9D8F</span></div>
                                    <div class="color"><span>E9C46A</span></div>
                                    <div class="color"><span>F4A261</span></div>
                                    <div class="color"><span>E76F51</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next sig" data-bs-toggle="tooltip" title="Ver sigueinte muestra de colores"></div>
                    <div class="swiper-button-prev atr" data-bs-toggle="tooltip" title="Ver anterior muestra de colores"></div>
                    

                </div>
                <h3 class="subtitulo-esp">Características Génerales</h3>
                <div class="Caracteristicas generales mb-4">
                    <div class="row gap-2">
                        <div class="caracteristica d-flex gap-2 col col-sm-12"><i class="bi bi-check-circle"></i> <strong>  Película lavable</strong></div>
                        <div class="caracteristica d-flex gap-2 col col-sm-12"><i class="bi bi-check-circle"></i><strong>Excelente Cubrimiento y Rendimiento</strong></div>
                        <div class="caracteristica d-flex gap-2 col col-sm-12"><i class="bi bi-check-circle"></i></strong>Libre de Plomo y Mercurio </strong></div>
                        <div class="caracteristica d-flex gap-2 col col-sm-12"><i class="bi bi-check-circle"></i></strong>Bajo Olor</strong> </div>
                        <div class="caracteristica d-flex gap-2 col-auto"><i class="bi bi-check-circle"></i></strong>Acabado Satinado</strong></div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center gap-2 info" id="mostrarInformacion">
                <h3 class="fs-5 m-0">Más informacion</h3>
                <i class="bi bi-arrow-down-circle m-0"></i>
            </div>
        </div>
    </div>

    <div class="info-tecnica d-none container">
        <div class="row gap-3">
            <div class="contenedor_detalles especificaciones col p-4 position-relative">
                <div class="dowload" data-bs-toggle="tooltip" title="Descargar toda la ficha tecnica"><i class="bi bi-download"></i></div>
                <h3 class="text-center titulo">Caracteristicas Tecnicas</h3>
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Nombre del producto:</p> <p class="valor-ficha">AV-2000 BRILLO DE SEDA</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Marca:</p> <p class="valor-ficha">Montana</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Línea:</p> <p class="valor-ficha">271</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Código (Línea):</p> <p class="valor-ficha">FA0-271</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Vehiculo</p> <p class="valor-ficha">Copolímeros Acrílicos</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Pigmentos</p> <p class="valor-ficha">Dióxido de Titanio y cargas inertes</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Color</p> <p class="valor-ficha">Según Carta de Colores. Disponible en el sistema de preparación de colores.</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Aspecto de la pelicula</p> <p class="valor-ficha">Satinada</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Solventes</p> <p class="valor-ficha"> Agua</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Densidad</p> <p class="valor-ficha"> 4,6 – 4,8 Kg/GAL</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">% SOLIDOS POR VOLUMEN:</p> <p class="valor-ficha"> 30 ± 2 % según color</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">VOC</p> <p class="valor-ficha"> menor a 80 g/L</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Viscosidad</p> <p class="valor-ficha"> 85 – 95 KU</p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Nota del rendimiento</p> <p class="valor-ficha"> 50 m2 /GAL. Este rendimiento puede variar según el método de aplicación y la porosidad del substrato. Algunas superficies pueden requerir más de una aplicación. </p></div>
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">PH </p> <p class="valor-ficha"> </p></div>
                <hr class="m-0">
                <hr class="m-0">
                <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Capas recomendadas</p> <p class="valor-ficha"> </p></div>
                <hr class="m-0">
            </div>

            <div class=" especificaciones col gap-4 p-0">
                <div class="contenedor_detalles p-4">
                    <h3 class="text-center titulo fs-5" >Descripción del producto</h3>
                    <div class="item d-flex w-100 mb-0 mt-2 "> <p class="valor-ficha ">El AV 2000 Brillo de Seda es una pintura emulsionada de primera calidad, diseñada para dar a las superficies de concreto y mampostería en general un acabado satinado de brillo sedoso en ambientes interiores, así como también en superficies de madera debidamente fondeadas. </p></div>
                    <hr class="mt-3">
                    <h3 class="text-center titulo fs-5 p-3" >Caracteristicas</h3>
                    <div class="row gap-2">
                        <div class="caracteristica d-flex gap-2 w-100 p-2"><i class="bi bi-check-circle"></i>Película lavable</div>
                        <div class="caracteristica d-flex gap-2 w-100 p-2"><i class="bi bi-check-circle"></i>Excelente Cubrimiento y Rendimiento</div>
                        <div class="caracteristica d-flex gap-2 w-100 p-2"><i class="bi bi-check-circle"></i>Libre de Plomo y Mercurio</div>
                        <div class="caracteristica d-flex gap-2 w-100 p-2"><i class="bi bi-check-circle"></i>Acabado Satinado</div>
                        <div class="caracteristica d-flex gap-2 w-100 p-2"><i class="bi bi-check-circle"></i>Bajo Olor</div>
                    </div>
                    <hr>
                </div>

                <div class="contenedor_detalles p-4">
                    <h3 class="text-center titulo fs-5 p-3" >SECAMIENTO A 25°C (77°F)</h3>
                    <div class="row gap-3">
                        <div class="caracteristica d-flex gap-2 w-100"><p class="ref">Al Tacto: </p> <p class="valor-ficha"> 30 minutos</p></div>
                        <div class="caracteristica d-flex gap-2 w-100"><p class="ref">Para repintar: </p> <p class="valor-ficha"> 4</p></div>
                        <div class="caracteristica d-flex gap-2 w-100"><p class="ref">Secamiento Duro: </p> <p class="valor-ficha"> 4 horas</p></div>
                        <div class="caracteristica d-flex gap-2 w-100"><p class="ref">Curado Total</p> <p class="valor-ficha"> </p></div>
                        <div class="caracteristica d-flex gap-2 w-100"><p class="ref">Inmersión </p> <p class="valor-ficha"> </p></div>
                        <div class="caracteristica d-flex gap-2 w-100"><p class="ref">Al polvo </p> <p class="valor-ficha"> </p></div>
                        <div class="d-flex gap-2 w-100"><p class="ref">Nota </p> <p class="valor-ficha"> Es importante respetar los tiempos de repintado, para evitar fallas de cubrimiento y problemas en la aplicación. </p></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <div class="info-tecnica d-none  contenedor_detalles container p-3 mt-4">
        <h3 class="text-center titulo fs-5 p-3" >Preparacion de la superficie</h3>
        <p class="valor-ficha ">La superficie debe estar completamente limpia y seca, libre de polvo, aceite, grasa y otros contaminantes. El AV 2000 BRILLO DE SEDA, se aplica sobre superficies debidamente preparadas. En caso de existir contaminación por grasa o aceite, esta se debe eliminar según norma SSPC-SP-1, utilizando limpieza con solventes, agua y jabón, desengrasantes industriales u otro material adecuado dependiendo del grado de contaminación. En caso de contaminación con moho y hongos frote el área con una solución de 2 partes de cloro y una de agua utilizando un cepillo de cerdas duras. Deje actuar por dos horas y luego lave con agua limpia dejando secar la superficie antes de pintar.</p>
    </div>

    <div class="info-tecnica d-none  container mt-4">
    <div class="row gap-3" >
        <div class="contenedor_detalles especificaciones col p-3">
            <h3 class="text-center titulo fs-5 p-3" >Fondos recomendados</h3>
            <div class="item d-flex w-100 mb-0"> <p class="valor-ficha ">*Superficies porosas, con grietas menores, frisos rústicos:* Aplique una ó dos manos de Mastilisto 202 – 100. /* Superficies alcalinas (concreto nuevo):* Aplique una mano de Sellacril Original 207 – 101/* Para colores intensos que lo requieran:* Aplique una mano de Sellacril Plus Color Línea 213. /*Superficies con pintura caleada o envejecida:* Aplique una mano de Sellacril Sellador Pro 051-100./ *Para una especificación acorde a sus necesidades, consulte a un Representante Técnico de Corimon Pinturas, C.A.* </p></div>
            <hr>
            <h3 class="text-center titulo fs-5 p-1" >Almacenamiento y precauciones</h3>
            <div class="item d-flex w-100 mb-0 "> <p class="valor-ficha ">Almacene en un lugar fresco y lejos del alcance de los niños. Evite el contacto directo con la piel y ojos. En caso de contacto con los ojos, lave con abundante agua fresca por espacio de 15 minutos y solicite atención médica. En caso de ingestión, no induzca el vómito, consulte inmediatamente un médico. Producto no inflamable. En caso de derrame, absorba con material inerte y disponga según regulaciones. No vierta en cañerías. Consulte la Hoja de Seguridad (MSDS) antes de usarlo./* Tiempo máximo de almacenamiento en envases originales: 3 años. *</p></div>
        </div>
        <div class="contenedor_detalles  especificaciones col p-3">
            <h3 class="text-center titulo fs-5 p-3" >Aplicación</h3>
            <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Metodo de aplicación:</p> <p class="valor-ficha">Rodillo, Brocha o Pistola.</p></div>
            <hr class="m-0">
            <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Equipos recomendados:</p> <p class="valor-ficha"></p></div>
            <hr class="m-0">
            <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Limpieza de Equipos</p> <p class="valor-ficha"></p></div>
            <hr class="m-0">
            <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Diluyente</p> <p class="valor-ficha">Agua. / *Para Brocha o Rodillo:* Hasta 10%. (aprox. ¼ de litro de agua por galón para facilitar su aplicación). / *Para Pistola Convencional:* No requiere dilución.</p></div>
            <hr class="m-0">
            <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Condiciones para aplicar</p> <p class="valor-ficha"></p></div>
            <hr class="m-0">
            <div class="item d-flex w-100 mb-0 mt-2"> <p class="ref">Nota</p> <p class="valor-ficha">Agite el producto hasta su completa homogenización antes de pintar</p></div>
            <hr class="m-0">
        </div>
    </div>
</div>

</main>



{% endblock %}