{% extends 'layout_landings.html' %}


{% block content %}

<div class="carrousel_contain rounded-0" >
    <div id="carouselExampleIndicators" class="carousel slide w-100 rounded-0" data-bs-ride="carousel" style="margin-left: 0px !important; margin-top: 0px !important; left: 0px; width: 100% !important;">
        <div class="carousel-indicators ">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Diapositiva 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Diapositiva 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Diapositiva 3"></button>
        </div>
        <div class="carousel-inner rounded-0" style="margin-top: 0px !important; padding: 0px !important;">
            <div class="carousel-item active rounded-0">
                <img src="/static/img/pinco_carrusel.jpg" class="rounded-0" alt="">
            </div>
            <div class="carousel-item">
                <img src="/static/img/planta_carrusel.jpg" class="rounded-0" alt="">
            </div>
            <div class="carousel-item">
                <img src="/static/img/montana_carrusel.png" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="border-radius: 0px !important;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="border-radius: 0px !important;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>


<main class="col-12 w-100">
    
    <div class="contenedor_main1 container mt-4 mb-2 pt-3 w-100">
        <div class="row d-flex justify-content-center mt-3">
            <div class="imagen col-sm-12 col-xl-6">
                <img src="/static/img/LaEmpresa.png" alt="">
            </div>
    
            <div class="texto col-xl-6 col-md-12 col-lg-12 col-sm-12 mt-3 col-xl-6">
                <div class="row">
                    <div class="col-12 col-sm-12 px-3">
                        <h3 class="text-center pb-1">Nosotros</h3>
                        <p style="text-align: justify;">Corimon Pinturas C.A. es una empresa del Grupo CORIMON, que se dedica a la producción de pinturas. Actualmente produce para las marcas más prestigiosas del país, como Pinturas Montana y Pinturas Pinco además cuenta con una larga y reconocida trayectoria en la fabricación de pinturas para las áreas arquitectónicas, madera, tráfico, mantenimiento industrial, marinas, equipo original (OEM) y reacabado automotriz.</p>
                    </div>
                    <div class="col-12 d-flex justify-content-end align-items-end mt-2">
                        <a href="/nosotros" id="vermas" class="m-5"><h3 class="fs-4">Ver más &rarr;</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor_main1 container mt-4 mb-2 pt-3 w-100">
        <div class="row d-flex justify-content-center mt-3 px-2">
            <div class="col-xl-6 col-sm-12 col-lg-12 col-md-12 mx-3 p-2" style="text-align: justify;">
                <h3> Reconocimientos</h3>
                <p>Somos una empresa con mas de 70 años de trayectoria, comprometida en cumplir con los estandares de mayor calidad para satisfacer la necesidad de nuestros clientes, siempre respetando y cuidando el medio ambiente</p>
                <p>Nuestra empresa se enorgullece de contar con las certificaciones <span class="iso"> ISO 9000</span>, <span class="iso"> ISO 9001 </span> y  <span class="iso">QSS 9000 </span>, las cuales son evidencia de nuestro compromiso en la fabricación de productos de calidad. </p>
            </div>
    
            <div class="col-xl col-sm-12 col-lg-12 col-md-12">
                <iframe src="https://www.youtube.com/embed/lcw8G9H6NsQ" allowfullscreen scrolling="no" frameborder="0" style="zoom: 0.65;" ></iframe>
            </div>
        </div>
    </div>
    




<h3 class="mt-5 mb-0">Nuestras marcas</h3>
<section class="carrusel_marcas">
    <div class="swiper" >
        <div class="swiper-wrapper " style="height: 100% ; margin: 0px !important;" >
            <div class="swiper-slide swiper-slide--one " onclick="redirectToURL('/nosotros#section')">
            
            </div>
            <div class="swiper-slide swiper-slide--two" onclick="redirectToURL('/nosotros#ancla_pinco')">
            </div>
            <div class="swiper-slide swiper-slide--three" onclick="redirectToURL('/nosotros#ancla_ppv')">
            </div>
            <div class="swiper-slide swiper-slide--four" onclick="redirectToURL('/nosotros#ancla_ppv')">
            </div>
            <div class="swiper-slide swiper-slide--five">
            </div>
        </div>
        
    </div>
    <div class="swiper-pagination"></div>
    <!-- Botones de navegación -->
    <div class="swiper-button-next" style="z-index: 0; color: #515151;"></div>
    <div class="swiper-button-prev" style="z-index: 0; color: #515151;"></div>
</section>



<!--
<div class="tarjetas_marcas mt-5 ">
    <h3>Nuestras marcas</h3>
    <div class="row pt-2 d-flex justify-content-center">
        <div class="imagen_marc col-lg-2 col-md-2 col-sm-1 col-xl-2 mb-3 "> <img src="/static/img/montana_marca.png" alt=""></div>
        <div class="imagen_marc col-lg-2 col-md-2 col-sm-1 col-xl-2 mb-3"> <img src="/static/img/pinco_marca.jpg" alt=""></div>
        <div class="imagen_marc col-lg-2 col-md-2 col-sm-1 col-xl-2 mb-3"> <img src="/static/img/sherwinW_marca.png" alt=""></div>
        <div class="imagen_marc col-lg-2 col-md-2 col-sm-1 col-xl-2 mb-3"> <img src="/static/img/ppv_marca.png" style="height: 55px;"  alt=""></div>
        <div class="imagen_marc col-lg-2 col-md-2 col-sm-1 col-xl-2 mb-3"> <img src="/static/img/cerdex-removebg-preview.png" alt=""></div>
    </div>
</div>
-->


<div class="contenedor_articles container">
<h3 class="mt-5">Nuestra gama de productos abarca:</h3>
<div class="articles mt-3 mb-3 row">

    <article class="col">
        <div class="arquitectonicos">
            <figure>
                <div class="carrousel_containn "  >
                    <div id="carousel" class="carousel slide bg-dark">
                        <div class="carousel-inner" >
                            <div class="carousel-item active">
                                <img src="/static/img/montana_galon_planta.jpg"  >
                            </div>
                            <div class="carousel-item">
                                <img src="/static/img/sherwin_galon_planta.jpg" style=" object-fit: cover; width: 100%; height: 100%; " alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="/static/img/publi1.png" style=" object-fit: cover; width: 100%; height: 100%; " alt="">
                            </div>
                        </div>
                        
                    </div>
                    <button class="carousel-control-prev " type="button" data-bs-target="#carousel" data-bs-slide="prev"  >
                        <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                </div>
            </figure>
            <div class="article-body">
                <h2>Arquitectónicos</h2>
                <p>
                    
                </p>
                <a href="#" class="read-more">
                    Mas información
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
             </div>
        </div>
    </article>
    <article class="col" >
        <div class="madera">
            <figure>
                <div class="carrousel_containn">
                    <div id="carousel2" class="carousel slide bg-dark">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/static/img/decomad.jpg" style=" object-fit: contain; width: 100%; height: 100%; " alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="/static/img/decomad2.jpg" style=" object-fit: cover; width: 100%; height: 100%; " alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="/static/img/epomon.png" style=" object-fit: cover; width: 100%; height: 100%; ">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev" >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                </div>
            </figure>
            <div class="article-body">
                <h2>Madera</h2>
                <p>
                    
                </p>
                <a href="#" class="read-more">
                    Mas información
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
             </div>
        </div>
    </article>
    <article class="col">
        <div class="Mantenimiento_industrial">
            <figure>
                <div class="carrousel_containn">
                    <div id="carousel3" class="carousel slide bg-dark">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/static/img/monprotec.png" style=" object-fit: cover; width: 100%; height: 100%;"   alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="/static/img/sellacril.jpg" style=" object-fit: cover; width: 100%; height: 100%;"alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="/static/img/brocal.png" style=" object-fit: cover; width: 100%; height: 100%;"alt="">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                </div>
            </figure>
            <div class="article-body">
                <h2>Mantenimiento Industrial</h2>
                <p>
                    
                </p>
                <a href="#" class="read-more">
                    Mas información
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
             </div>
        </div>
    </article>
</div>
</div>
</main>
<hr>


<script>
    var header = document.querySelector('header');
       var alturaHeader = parseFloat(getComputedStyle(header).height);
   
       window.addEventListener('scroll', e => {
           var color;
           if (window.scrollY == 0) {
               color = 'rgba(255, 255, 255, 0.63)';
           } else if (window.scrollY >= alturaHeader && window.scrollY < 2 * alturaHeader) {
               color = 'white';
           }
           header.style.setProperty('background', color);
       });
   
   
       document.addEventListener("DOMContentLoaded", function() {
     const checkbox = document.getElementById("burger");
     const responsiveNav = document.querySelector(".responsive_nav");
   
     checkbox.addEventListener("change", function() {
       if (checkbox.checked) {
         responsiveNav.classList.add("active");
       } else {
         responsiveNav.classList.remove("active");
       }
     });
   });
   
   setTimeout(function() {
       document.querySelectorAll('.alert').forEach(function(alert) {
         alert.remove();
       });
     }, 5000);
   
   </script>
{% endblock %}