{% extends 'layout_landings.html' %}

{% block content %}
<section id="section1_landing_QuienesSomos ">
    <div class="contain" >
      <img src="{{ url_for('static', filename = 'img/1688644955912.jpg') }}" alt="" >
    </div>
</section>
<main>

  <section id="section2_landing_QuienesSomos">
    <div class="card container">
      <div class="row " >
          <div class="imagen_vision col-xl-4 col-md-10 col-lg-10 col-sm-10 ">
              <img src="/static/img/1686933413786.jpg" alt="">
          </div>

          <div class="contenido col-xl  col-sm-12 " >
              <h3 class=" mt-1">Descripcion General</h3>
              <p>
                  Corimon Pinturas C.A. es una empresa subsidiaria del Grupo CORIMON, especializada en la fabricación de pinturas. Con una destacada trayectoria, la compañía se ha convertido en un proveedor confiable para las marcas más reconocidas del país, como Pinturas Montana y Pinturas Pinco. Su experiencia abarca una amplia gama de aplicaciones, incluyendo pinturas arquitectónicas, pinturas para madera, pinturas de tráfico, pinturas para mantenimiento industrial, pinturas marinas, pinturas para equipos originales (OEM) y pinturas para el reacabado automotriz.
                 <br> <br> Corimon Pinturas C.A. se enorgullece de contar con las certificaciones ISO 9000 y QSS 9000, lo que demuestra su compromiso con los estándares de calidad y su enfoque en la excelencia operativa. Estas certificaciones respaldan la capacidad de la empresa para ofrecer productos y servicios de alta calidad que cumplen con las exigencias del mercado.
              </p>
          </div>
          <div class="contenedor_mision-vision">
            <div class="row">
                <div class="mision col-xl-6 col-lg-5 col-md-5 col-sm-12">
                <h3 class="text-white mt-3 mb-0">Misión </h3>
                <p class="text-white ">
                    Diseñar, fabricar y distribuir en forma segura y cuidando el medio ambiente, productos con calidad para satisfacer las necesidades de los clientes. Utilizando las mejores prácticas en nuestros procesos, tecnología de punta, potenciando la formación, crecimiento y motivación del talento humano, generando valor para los accionistas.
                </p>
                </div>
                <div class="vision col-xl-6 col-lg-5 col-md-5 col-sm-12">
                <h3 class="mt-3 mb-0">Visión </h3>
                <p class="">
                    Ser el fabricante de pinturas más competitivo del Continente Americano.
                </p>
                </div>
            </div>
        </div>
      </div>
  </div>

  </section>



    <div class="contenedor_s3 container">
        <div class="row d-flex ">
            <div class="col-xl-8 col-md-8 col-lg-8 col-sm-12">
                <div class="calidad">
                <h2>Politica de calidad</h2>

                <p>
                    Corimon Pinturas está comprometida en diseñar, desarrollar, fabricar y comercializar pinturas, recubrimientos y productos relacionados hacia el mercado doméstico y de uso industrial, para satisfacer los requerimientos de los clientes, cumpliendo el principio de gestión de la calidad en cada proceso y teniendo el compromiso con el mejoramiento continuo, para garantizar un crecimiento rentable y sostenible.
                </p>
                </div>
                <div class="calidad mas mt-2">
                    <h4>Objetivos de la calidad</h4>

                    <p class="px-3 text-white">
                        <i class="bi bi-check-circle"></i>  Diseñar productos atractivos, útiles y de alta calidad que cumplan las necesidades del cliente.
                        <br> <i class="bi bi-check-circle"></i>  Garantizar la disponibilidad de productos conforme satisfagan las necesidades del cliente.
                        <br> <i class="bi bi-check-circle"></i>  Garantizar el cumplimiento del estimado de ventas.
                        <br> <i class="bi bi-check-circle"></i>  Potenciar la presencia de Corimon Pinturas en los puntos de venta.
                        <br> <i class="bi bi-check-circle"></i>  Garantizar que nuestra gestión sea percibida satisfactoriamente por los clientes.
                        <br> <i class="bi bi-check-circle"></i>  Garantizar la eficiencia y eficacia del sistema de gestión de calidad.
                        <br> <i class="bi bi-check-circle"></i>  Contribuir con el entorno promoviendo el trabajo en temas sociales y ambientales, a través de la unión de Empresa-Comunidad, con el interés de favorecer el bienestar social de los individuos y el cuidado del ambiente.
                        <br> <i class="bi bi-check-circle"></i>  Asegurar recurso humano altamente calificado y comprometido.
                        <br> <i class="bi bi-check-circle"></i>  Optimizar el uso de los recursos financieros.
                        <br> <i class="bi bi-check-circle"></i>  Promover el mejoramiento continuo.
                        <br> <i class="bi bi-check-circle"></i>  Fortalecimiento de la marca.
                    </p>
                </div>
            </div>
            <div class="imagen_calidad col-xl-4 col-md-3 col-lg-3 col-sm-12 ">
                <img src="/static/img/1687199680039.jpg" alt="">
            </div>
        </div>
    </div>


<section id="section4" >
    <div class="d-flex justify-content-center w-100 mt-3">
        <h3 class="fs-2 mb-3 py-2" id="subtitulo" style=" max-width:100%;text-align: center; border-bottom: solid 2px #D50000; border-top: solid 2px #D50000; width: 0; opacity: 0; transition: all ease-in-out 0.5s;">¿Quienes somos?</h3>
    </div>    
      <div class="row caja">
        
            <div class="logo_Pmontana col-xl-3 col-sm-12 col-md-12">
                <img src="/static/img/3montana-removebg-preview.png" alt="">
            </div>

            <div class="contenido_section4  col-xl-9 col-sm-12">
                <h3 class="text-dark fs-2" style="text-align: left;">Pinturas Montana</h3>
                <p>Una marca de pinturas con más de 60 años en el mercado venezolano. Ofrecen una variedad de productos para diferentes usos, como arquitectura, madera, industria y automóviles, con un enfoque en la innovación y la alta calidad. Su objetivo principal es permitir a los venezolanos dar vida a sus sueños a través de la pintura.</p>
                <div class="row">
                  <div class="col-xl-6 col-sm-12 mis-val mision">
                    <h3 class="text-center text-white mt-2 mb-0">mision</h3>
                    <p class="text-white" style="font-size: 14px; padding: 0.7rem; " >ofrecer productos y servicios innovadores de alta calidad y rentabilidad, que llenen de color los sueños de nuestros clientes llevando como ingredientes fundamentales la formación el cuidado del medio ambiente y desarrollando nuestro talento humano usando tecnología de vanguardia.</p>
                  </div>
              
                  <div class="col-xl-6  col-sm-12 mis-val text-center vision">
                    <h3 class="text-center mt-2 mb-0">vision</h3>
                    <p style="font-size: 14px; padding: 0.7rem; " >Pintar y proteger los sueños de todos en el Continente Americano.</p>
                  </div>
                </div>
            </div>
      </div>
      <div class="row contenedor_valores" >
              
        <div class=" row col-xl-10 col-sm-12 text-white mb-5 " style="padding: 0 !important; margin: 0 !important;" >
          <h3 class="col-12 text-dark mt-4">¿En que creemos?</h3>
          <div class="valor row d-flex justify-content-center" style="padding: 0 !important; margin: 0 !important;">
              <div class="valori col-xl-3 col-sm-4" href="#">
               <p>Sueños</p>
               <p class="small">En los sueños como motivadores de las acciones</p>
               <div class="go-corner" href="#">
                 <div class="go-arrow">
                   →
                 </div>
               </div>
              </div>
             <div class="valori col-xl-3 col-sm-4" href="#">
              <p>constancia</p>
              <p class="small">En la constancia y la perseverancia para alcanzarlos</p>
              <div class="go-corner" href="#">
                <div class="go-arrow">
                  →
                </div>
              </div>
            </div>
            <div class="valori col-xl-3 col-sm-4" href="#">
              <p>Equipo</p>
              <p class="small">En el trabajo en equipo</p>
              <div class="go-corner" href="#">
                <div class="go-arrow">
                  →
                </div>
              </div>
            </div>

            <div class="valori col-xl-3 col-sm-4" href="#">
              <p>satisfacción al cliente</p>
              <p class="small">En el enfoque hacia la satisfacción del cliente</p>
              <div class="go-corner" href="#">
                <div class="go-arrow">
                  →
                </div>
              </div>
            </div>

            <div class="valori col-xl-3 col-sm-4" href="#">
              <p>Buen Servicio</p>
              <p class="small">En el buen servicio en nuestra cadena de valor.</p>
              <div class="go-corner" href="#">
                <div class="go-arrow">
                  →
                </div>
              </div>
            </div>
            <div class="valori col-xl-3 col-sm-4" href="#">
              <p>Calidad</p>
              <p class="small">En la calidad de nuestros productos</p>
              <div class="go-corner" href="#">
                <div class="go-arrow">
                  →
                </div>
              </div>
            </div>

            <div class="valori col-xl-3 col-sm-4" href="#">
              <p>innovación</p>
              <p class="small">En la innovación constante</p>
              <div class="go-corner" href="#">
                <div class="go-arrow">
                  →
                </div>
              </div>
            </div>

            <div class="valori col-xl-3 col-sm-4" href="#">
              <p>Respeto</p>
              <p class="small">En el respeto a nuestros colaboradores</p>
              <div class="go-corner" href="#">
                <div class="go-arrow">
                  →
                </div>
              </div>
            </div>
           </div>
      </div>
      <div class="logo_Pmontana_2 col-xl-2 col-sm-12">
        <img src="/static/img/montanitoscreen-removebg-preview.png" alt="">
      </div>
    </div>

    <!--------------------------------------------------------Pinco-->
    <hr>

    <div class="row caja mb-0">
        
      <div class="logo_pinco col-xl-3 col-sm-12 d-flex justify-content-center mb-0">
        <img src="/static/img/Pinco__1_-removebg-preview.png"  alt="">
    </div>

      <div class="contenido_section4  col-xl-9 col-sm-12 mb-0">
          <h3 class="text-dark fs-2  " style="text-align: left;">Pinco</h3>
          <p>Es la marca de pintura venezolana, que por muchos años ha permitido llenar de color y alegría espacios a un precio justo para que nadie se quede sin pintar, haciendo uso de nuestra variedad de productos; Pinco 60 (Acabados Mate, Satinado, Brillante), económica Max (CubreMax, DuraMax, y TexturiMax), Acondicionadores de superficie (Fondos y Pastas), entre otros.</p>
          <div class="row">
            <div class="col-xl-6 col-sm-12 mis-val mision">
              <h3  class="text-center text-white mt-2 mb-0">mision</h3>
              <p class="text-white" style="font-size: 14px; padding: 0.7rem; "> Ofrecer productos con calidad y economía, potenciando la formación y crecimiento de nuestro talento humano, para llevar alegría, a través del color, a cada rincón de Latinoamerica.</p>
            </div>
        
            <div class="col-xl-6 col-sm-12 mis-val text-center vision">
              <h3 class="text-center mt-2 mb-0">vision</h3>
              <p style="font-size: 14px; padding: 0.7rem; ">Color, Alegría y Economía, para que nadie se quede sin pintar.</p>
            </div>
          </div>
      </div>
</div>
<div class="row contenedor_valores" >
              
  <div class=" row col-xl-8 col-sm-12 text-white mb-5 " style="padding: 0 !important; margin: 0 !important;" >
    <h3 class="col-12 text-dark mt-4">Valores de la marca</h3>
    <div class="valor row d-flex justify-content-center" style="padding: 0 !important; margin: 0 !important;">
      <div class="valori col-xl-5 col-sm-12" href="#">
        <p>Integridad</p>
        <p class="small">ser percibidos como una marca en la que se puede confiar, comunicando de manera abierta y transparente.</p>
        <div class="go-corner" href="#">
          <div class="go-arrow">
            →
          </div>
        </div>
       </div>
      <div class="valori col-xl-5 col-sm-12" href="#">
       <p>Competitividad</p>
       <p class="small"> generar valor agregado a lo largo de nuestra cadena de producción.
         Servicio, a nuestra cadena de valor.</p>
       <div class="go-corner" href="#">
         <div class="go-arrow">
           →
         </div>
       </div>
     </div>

     <div class="valori col-xl-5 col-sm-12" href="#">
       <p>Servicio</p>
       <p class="small">  a nuestra cadena de valor.</p>
       <div class="go-corner" href="#">
         <div class="go-arrow">
           →
         </div>
       </div>
     </div>
     <div class="valori col-xl-5 col-sm-12" href="#">
       <p>Dinamismo</p>
       <p class="small">mejoras constantes e innovadoras en nuestra marca.</p>
       <div class="go-corner" href="#">
         <div class="go-arrow">
           →
         </div>
       </div>
     </div>

     <div class="valori col-xl-5 col-sm-12" href="#">
       <p>Crecimiento</p>
       <p class="small">con acciones necesarias, rentables y sustentables.</p>
       <div class="go-corner" href="#">
         <div class="go-arrow">
           →
         </div>
       </div>
     </div>
     <div class="valori col-xl-5 col-sm-12" href="#">
      <p>Crecimiento</p>
      <p class="small">con acciones necesarias, rentables y sustentables.</p>
      <div class="go-corner" href="#">
        <div class="go-arrow">
          →
        </div>
      </div>
    </div>
     </div>
</div>
<div class="logo_Pinco2 col-xl-2 col-sm-12">
  <img src="/static/img/publi_pinco-removebg-preview.png" style="height: 270px;"  alt="">
</div>
</div>

<hr>

<div class="row  caja mt-3">
  <h3 class="mx-4 col-12">Tambien maquilamos:</h3>
  <div class="logo_ppv col-xl-3 col-sm-12 px-2 d-flex justify-content-center align-items-center" >
    <img src="/static/img/ppv-1-removebg-preview.png"   alt="">
</div>
  <div class="contenido text-white col-xl-9 col-sm-12">
    <h3 class="text-dark fs-2 mt-3" style="text-align: left;">PPV</h3>
    <p style="padding: 1px 15px 5px 0px;">PPV Puras Pinturas Venezolanas C.A. es una empresa fundada en 2008 bajo la licencia de Sherwin-Williams, con un equipo multidisciplinario que ha generado empleo en todo el territorio nacional. Ofrecen un portafolio de más de 300 productos que se adaptan a las necesidades y presupuestos de los consumidores más exigentes del mercado venezolano. Además, han creado la franquicia de Tiendas de Pintura Pintatodo en todo el país para llevar sus productos a cada rincón de Venezuela. Su compromiso es mantenerse fieles a sus valores y a su compromiso con el país y sus habitantes.</p>
  </div>
  <div class="row mt-3 caja " style="padding: 0 !important;" >
    
    <div class="contenido text-white col-xl-8 col-sm-12">
      <div class="row mt-3 " style="padding: 0 !important;">
        <div class="col-xl-6 col-sm-12 mision ">
          <h3  class="text-center mt-2 mb-0">mision</h3>
          <p class="text-white" style="font-size: 14px; padding: 0.7rem; "> Ofrecer productos con calidad y economía, potenciando la formación y crecimiento de nuestro talento humano, para llevar alegría, a través del color, a cada rincón de Latinoamerica.</p>
        </div>
    
        <div class="col-xl-6 col-sm-12 text-center vision">
          <h3 class="text-center mt-2 mb-0">vision</h3>
          <p style="font-size: 14px; padding: 0.7rem; ">Color, Alegría y Economía, para que nadie se quede sin pintar.</p>
        </div>
      </div>
  </div>
  <div class="col-xl-3 col-sm-12  d-flex justify-content-center" style="width: 420px;height: 190px; margin-top: -500 !important;">
    <img src="/static/img/sherwinW-removebg-preview.png" style="width: 100%; height: 100%; margin-top:  0 !important;"   alt="">
  </div>
</div>
    </div>
    
</section>
</main>
{% endblock %}