@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Play&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Play&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap');

:root{
  --rojo: #D50000;
  --gris: rgba(255, 255, 255, 0.63);
  --gris_claro: #d1d1d6;
  --gris_oscuro: #3b3b3b;
  --gris_hover: #b4b3b3;
  --rojo_hover: #b10505;
  --pading:1em;
  --bebas: 'Bebas Neue', sans-serif;
  --montserrat:'Montserrat', sans-serif; 
  --blanco: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

}

main{
  margin: 40px 0px;
  width: 100%;
}


h3{
  font-family: var(--bebas);
  text-align: center;
  font-size: 35px;
}

/*↓↓ Estilos para el navbar ↓↓*/
header{
  font-family: 'Play', sans-serif;
  position: fixed;
  top: 0;
  right: 5;
  left: 5;
  width: 100%;
  background: var(--gris);
  border-bottom: solid 3px var(--rojo);
  z-index: 99;
  transition: background ease-in-out 0.2s;
}

nav{
  display: flex;
  justify-content: space-between;
}

.contenedor_elementos{
  padding: 15px 10px;
}

.contenedor_elementos ul {
    list-style: none; 
    padding: 0; 
}

.contenedor_elementos li{
    display: inline-block;
    margin-top: 15px;
}
.logo img{
    height: 50px;
    margin-left: 10px;
}
.contenedor_elementos a {
  font-size: 17px;
  border: none;
  background: none;
  text-decoration: none;
  color: black;
  position: relative;
}

.contenedor_elementos a::before {
  margin-left: auto;
}

.contenedor_elementos a::after,
.contenedor_elementos a::before {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--rojo);
  display: block;
  transition: 0.5s;
}

.contenedor_elementos a.active {
  border-top: 2px solid var(--rojo);
  border-bottom: 2px solid var(--rojo);
  padding-top: 2px;
  padding-bottom: 3px;
}

.contenedor_elementos a:not(.active):hover::after,
.contenedor_elementos a:not(.active):hover::before {
  width: 100%;
}

.elementos_interac ul {
  list-style: none; 
  padding: 0; 
}
.elementos_interac li{
  display: inline-block;
  margin-top: 10px;
}

.elementos_interac a{
  text-decoration: none;
  color: black;
  margin: 0px 20px 0px 20px;
}
.elementos_interac{
  font-family: 'Sora', sans-serif;
  padding: 15px 15px;
}

/*↑↑ Estilos para el navbar ↑↑*/

/*↓↓ Boton de inicio de sesion y todo su efecto de hover ↓↓*/
.boton:link,
.boton:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--blanco);
  padding: 10px 30px;
  border-radius: 1000px;
  display: inline-block;
  transition: all .2s;
  position: relative;
  background-color: var(--rojo);
}

.boton:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.boton:active {
  transform: translateY(-3px);
}

.boton::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all .3s;
}

.boton:hover::after {
  background-color: rgb(22, 22, 22);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}
/*↑↑ Boton de inicio de sesion y todo su efecto de hover ↑↑*/


/*↓↓ Estilos del navbar responsivo ↓↓*/
.responsive_nav.active {
  transform: translateX(0); 
}

.responsive_nav {
  background-color: var(--blanco);
  position: fixed; 
  z-index: 9; 
  margin-top: 64px;
  text-align: center;
  transform: translateX(100%); 
  transition: transform 0.3s ease-in-out;
  right: 0;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 10px;
  width: 80%;
  overflow: auto;
  border-radius: 5px;
  padding: 25px 10px;
  display: grid;
  min-height: 100vh;
  max-height: 80vh;
  margin-top: 20%;
}


.responsive_nav .contenedor_elementos_responsive ul{
  list-style: none;
  padding: 0 !important;
  

}
.contenedor_elementos_responsive a{
  font-size: 17px;
  text-decoration: none;
  color: black;
  position: relative;
  font-family: var(--montserrat);

}
.contenedor_elementos_responsive li{
  transition: all .2s ease-in-out;
  text-align: left;
  display: flex;
  align-items: center;
  height: 60px;
}

.contenedor_elementos_responsive li:hover{
  background-color: var(--gris_hover);
  border-radius: 16px;
  }

.footer_resp{
  height: 60px;
  margin-top: auto;
  width: 100%;
  margin-bottom: 60px;
  padding: 10px;
  padding-bottom: 10px;
  box-shadow: -3px -6px 10px -1px rgba(160, 159, 159, 0.75);
-webkit-box-shadow: -3px -6px 10px -1px rgba(160, 159, 159, 0.75);
-moz-box-shadow: -3px -6px 10px -1px rgba(160, 159, 159, 0.75);
}

.footer_resp ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 50px;
  }

.footer_resp ul li a{
  text-decoration: none;
  color: #000;
  }

  .footer_resp ul li i.algo{
  color: #000;
  }


.footer_resp ul li:hover a{
  color: var(--rojo_hover);
  }
  
.footer_resp ul li:hover i.algo{
  color: var(--rojo_hover);
  }
/*↑↑ Estilos del navbar responsivo ↑↑*/

/*↓↓ Estilos para el boton activador del menu responsivo ↓↓*/
.burger {
  position: relative;
  width: 40px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
/*↑↑ Estilos para el boton activador del menu responsivo ↑↑*/
/*------------------Hasta aqui el Nav--------------------*/

/*↓↓Carrusel↓↓*/
.carrousel_contain {
  width: 102% !important; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  border-radius: 0px !important;
}

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  left: 0;
  right: 0;
  padding: 0;
  border-radius: 0px !important;
}
/*↑↑Carrusel↑↑*/

/*↓↓ spans ↓↓*/
span.iso{
  font-size: 20px;
  font-weight: 700;
  color: #4b4949;
}

#vermas{
  text-decoration: none;
  color: #000;
  margin: 10px;
  transition: all .5s ease-in-out;

}

#vermas:hover{
  color: #b10505;
  transform: translateY(-5px);

}
/*↑↑ spans ↑↑*/


/*↓↓ Para imagenes y sus contenedores ↓↓*/
.imagen{
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  
}

.imagen img{
  height: 100%;
  border-radius: 16px;
  margin: 0 !important;
  margin-right: 0 !important;
  max-width: 100%; 
  height: 100%; 
  border-radius: 16px; 
  object-fit: cover;

}
/*↑↑ Para imagenes y sus contenedores ↑↑*/




/*↓↓ Video ↓↓*/
.container.video {
  height: 340px;
  padding-left: 28px;  
  }

iframe {
  height: 100%;
  border-radius: 16px;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}
/*↑↑ Video ↑↑*/  




/*↓↓ Articles ↓↓*/
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: var(--blanco);
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  min-width: 300px;
  }

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
  }

article h2 {
  margin: 0 0 18px 0;
  font-family: var(--bebas);
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 12 / 10;
  overflow: hidden;
}

.article-body {
  padding: 24px;
}
  
article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
  }
  
article a:focus {
  outline: 1px dotted #28666e;
  }

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
  }

article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

.carousel-inner {
  margin-top: 13px;
  border-radius: 16px;
  }

.carrousel_containn .carousel{
  border-radius: 16px;
  }

.articles {
  display: flex;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 24px;
  gap: 24px;
  }
/*↑↑ Articles ↑↑*/




/*↓↓Primera imagen del landing de "¿Quienes somos?"↓↓*/
.contain {
  height: 450px;
  width: 100%;
  overflow: hidden;
  }  
.contain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
/*↑↑Primera imagen del landing de "¿Quienes somos?"↑↑*/




/*↓↓ tarjeta condisposición imagen-texto ↓↓*/
.card_imagen-texto {
  height: auto;
  background: var(--blanco);
  border: none;
  padding-left: 10px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}
/*↑↑ tarjeta condisposición imagen-texto ↑↑*/



/*↓↓ Mision-vision ↓↓*/
.imagen_vision img{
  height: 500px;
  width: 420px;
  border-radius: 10px;
}

.card_imagen-texto .contenido p{
  padding: 10px 50px ;
  font-family: var(--montserrat);
  text-align: justify;
}

.contenedor_mision-vision{
  padding: 30px 10px 0px 13px;
}

.mision{
  background-color: #3b3b3b;
  text-align: center;
  border-right: solid 5px var(--rojo);
  padding: 10px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-bottom: 0px !important;
}

.vision{
  background-color: var(--gris_claro);
  text-align: center;
  border-left: solid 5px var(--gris_claro);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

h3.valor{
  font-family: var(--bebas);
  font-size: 27px;
}
p.valor{
text-align: justify;
font-size: 14px;
}
/*↑↑ Mision-vision ↑↑*/

/*↓↓ parte de calidad de la empresa ↓↓*/
.calidad{
  padding: 1rem;
  background: #fdfdff;
  box-shadow: 2px 4px 42px 0px #cfcece;
  -webkit-box-shadow: 2px 4px 42px 0px #cfcece;
  -moz-box-shadow: 2px 4px 42px 0px #cfcece;
  padding-bottom: 3px !important;
}

.calidad.mas{
  background: #3b3b3b;
  color:#cacdd2;
  padding-bottom: 1px !important;
}

.imagen_calidad img {
    height: 100%;
    width: 100%;
    border-radius: 16px;
}
/*↑↑ parte de calidad de la empresa ↑↑*/




/*↓↓ Contenido de las marcas ↓↓*/
.contenido_section4 {
text-align: justify;
padding: 20px 10px 0px 10px;
margin-left: 10px;
}

.contenedor_valores{
    margin: 0;
    padding: 0 !important;

}

.caja{
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
}

.contenido p{
    text-align: justify;
    color: #000;
}

.valor .valori p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.valori p.small {
  font-size: 12px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--rojo);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: var(--blanco);
  font-family: courier, sans;
}

.valori {
  display: block;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 72PX;
  transition: all 0.25s ease-out;
  padding-bottom: 0 !important;
    max-width: 200px;
    margin-top: 0;
}

.desc_pinco .valori {
  display: block;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 70PX;
  transition: all 0.25s ease-out;
  padding-bottom: 0 !important;
  margin-top: 0;
  }

  .valores{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  }


.valori:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #3b3b3b;
  height: 32px;
  width: 48px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;

}
.valori:hover{
  height: auto;
}
.valori:hover:before {
  transform: scale(21);

}

.valori:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.valori:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
  
}
/*↑↑ contenido de las marcas ↑↑*/






/*↓↓ Footer ↓↓*/
footer{/*----------------Aqui empieza el footer---------------------*/

    background: #111;
    height: auto;
    width: 100%;
    padding-top: 10px;
    color: var(--blanco);
    margin-top: 0 !important;
    border-top: var(--rojo) solid 3px;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content ul li a{
  color: var(--rojo_hover);
}

.footer-content ul li a:hover{
  color: var(--blanco);
  }

.footer_nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
  }

.footer_nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;

}

.footer-content {
  padding: 20px 150px 20px 150px;
}

.footer_nav a{
  text-decoration: none;

}

.footer_nav ul li a:hover{
  color: var(--rojo_hover);

}

.footer_nav ul li{
  margin-top: 0 !important;
  margin-bottom: 8px !important;

}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left-paragraph {
  margin-bottom: 0 !important;
}

.right-paragraph {
  margin-top: 10px;
  text-align: right;
  margin-right: 20px;
}
/*↑↑ Footer ↑↑*/

/*↓↓ Boton de submit ↓↓*/
button.submit {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0 !important;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #D50000;
  min-width: 250px;
  max-width: 300px;
  color: ghostwhite;
  margin-top: 20px;
  height: 50px;
  
 }
 
 button.submit span {
  position: relative;
  z-index: 2;
  transition: color 0.4s;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
 }
 
 button.submit:hover span {
  color: white;
 }
 
 button.submit::before,
 button.submit::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }

 button.submit:hover {
  transform: translateY(-5px);
  box-shadow: 2px 13px 17px 5px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 13px 17px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 13px 17px 5px rgba(0,0,0,0.75);
}
 
 button.submit::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 button.submit:hover::before {
  transform: translate3d(100%, 0, 0);
 }
/*↑↑ boton de submit ↑↑*/


/*↓↓ Errores↓↓ */
.texto_error h2{
  font-family: 'Tektur', cursive;
  font-size: 200px;
  margin-left: 0 !important;

}

.imagen_construccion{
  margin-top: -40px;
}

.imagen_error img{
height: 350px;
margin-top: -50px;
}

.texto_error h2.prox{
font-family: 'Tektur', cursive;
font-size: 50px;
margin-left: 0 !important;

}
.texto_error h6{ 
  font-size: 50Px;
}

.texto_error{
font-family: var(--montserrat);
text-align: end;
margin-top: -20px;

}

.contenedor_genericos{
  background-color: #fefefe;
  border-radius: 16px;
  margin-top: 12%;
  margin-bottom: 50px;
  padding-left: 50px;

}

.main_contacto{
  display: flex;
  justify-content: center;
  margin-top: 8%;
}


.contenedor_informacion_contacto {
  background-color: #ffffff;
  flex-grow: 1;
  padding: 2em;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  border-right: 4px solid #D50000;
  
}


.super{
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.formulario_contacto {
  background-color: #3b3b3b;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin: 0px !important;
  padding: 2em;

}



/*↓↓ inputs ↓↓*/
.input-container.contacto {
  position: relative;
  margin: 50px auto;
  width: 100%;
}

.input-container .entrada.contacto {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  color: white;
}

.input-container .label.contacto {
  position: absolute;
  top: 20px;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container .entrada:focus ~ .label.contacto,
.input-container .entrada:valid ~ .label.contacto {
  top: 0px;
  font-size: 16px;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ccc;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container .entrada:focus ~ .underline,
.input-container .entrada:valid ~ .underline {
  transform: scaleX(1);
}

select.entrada.contacto option{
  color: black;
}
/*↑↑ inputs ↑↑*/

/*↓↓ Carrusel de marcas ↓↓*/
section.carrusel_marcas {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 50px;
  height: 200px;
  max-width: 80vw;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: 70%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.swiper-slide::after {
  display: none !important;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #515151 !important;

}

.swiper-pagination {
  bottom: 10px;
  transform: scale(2.5);
}
.swiper-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  transition: box-shadow 2s ease-in-out;
  cursor: pointer;
  
}

.swiper-slide-active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según desees */
}

.swiper-slide div {
  transition: 0.25s;
  opacity: 0;
}

.swiper-slide-active div {
  opacity: 1;
}

.swiper-slide--one {
  background:
    url("/static/img/montana_marca.png") no-repeat 50% 50% / contain;
    background-color: #ffffff;

}

.swiper-slide--two {
  background:
    url("/static/img/pinco_nostros.png") no-repeat 50% 50% / contain;
    background-color: #ffffff;
}

.swiper-slide--three {
  background: 
    url("/static/img/sherwinW_marca.png") no-repeat 50% 50% / contain;
    background-color: #ffffff;
}

.swiper-slide--four {
  background: 
    url("/static/img/ppv_marca.png") no-repeat 50% 50% / contain;
    background-color: #ffffff;

}

.swiper-slide--five {
  background: 
    url("/static/img/cerdex-removebg-preview.png") no-repeat 50% 50% / contain;
    background-color: #ffffff;

}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none !important; 
}
/*↑↑ Carrusel de marcas ↑↑*/

/*↓↓ Mensajes Flash ↓↓*/
.flash{
  border-radius: 16px;
  position: absolute;
  top: 95px !important;
  z-index: 2;
  width: 450px;
  display: flex;
  justify-content: center;
  
}
/*↑↑ Mensajes Flash ↑↑*/


/*|--------------------------------------------------------------------------------------------------------------------------------------------|*/
/*|--------------------------------------------------------------------------------------------------------------------------------------------|*/
/*|--------------------------------------------------------------------------------------------------------------------------------------------|*/
/*|--------------------------------------------------------------------------------------------------------------------------------------------|*/
/*|--------------------------------------------------------------------------------------------------------------------------------------------|*/
/*|--------------------------------------------------------------------------------------------------------------------------------------------|*/
/*|--------------------------------------------------------------------------------------------------------------------------------------------|*/
/*|--------------------------------------------------------------------------------------------------------------------------------------------|*/
/*|--------------------------------------------------------------------------------------------------------------------------------------------|*/
/*|--------------------------------------------------------------------------------------------------------------------------------------------|*/
/*|--------------------------------------------------------------------------------------------------------------------------------------------|*/


/*↓↓↓ Responsividad ↓↓↓*/

@media(max-width:1100px){
  .boton{
    font-size: 10px;
    padding: 9px !important;
    text-align: center;
    }
  nav{
    padding: 10px;
    }
  .logo img{
    height: 37px;
    }

  .elementos_interac{
  margin: 0;
  padding: 0;
  }

  .imagen_vision{
  display: flex;
  justify-content: center;
  height: 370px;
  width: 370px;
}
  .imagen_vision img{
    height: 100%;
    width: 100%;
  }
  .mision{
    border-radius: 16px;
    margin-bottom: 12px;
    border: none;

  }
  .vision{
    border-radius: 16px;
  }

  .valor.row{
    display: flex;
    justify-content: center;
  }

  .imagen_calidad img{
    max-width: 340px;
    max-height: 450px;
    margin: 20px !important;
  }

  .imagen_calidad{
    display: flex;
    justify-content: center;
    margin-top: 0 !important;
    padding:  0 !important;
  }

  .logo_Pmontana{
    display: flex;
    justify-content: center;
    margin-left: 20px;
  }
  .logo_Pmontana_2{
    display: flex;
    justify-content: center;
  }
  .contenedor_valores{
    display: flex;
    justify-content: center;
  }
  .valori{
    max-width: 140px;
    }
  .valor .valori p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #666;
    }
  .valori p.small {
    font-size: 12px;
    }
  .desc_pinco .valori {
    max-width: 110px;
    }

  .footer-content {
    padding: 0px !important;
    }
  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .right-paragraph {
    margin-top: 0;
    margin-right: 0px;
    text-align: center;
  }
  .contenedor_informacion_contacto{
    border: none;
    border-radius: 16px;
  }
}

@media(max-width:500px){
  .activador{
    margin: 0px !important;
  }
}


@media (max-width:900px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .imagen_error{
      margin-top: 50px;
    }

    .imagen_construccion{
      margin-top: 0px !important;
    }
    iframe{
      height: 350px;
    }
}
