{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}
{% block main %}
<main class="px-3 pt-3">
{% if current_user.nivel =="cliente" %}
    <div class="my-5 container table-responsive tabla w-75 w-100 "  >  
    <table id="example" class="dataTable table" style="width:100%;">
        <thead>
            <tr>
                <th>N° Doc. Comercial</th>
                <th>Fecha doc.</th>
                <th>Monto Bs</th>
                <th>Base Bs</th>
                <th>Importe Bs</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in pagos %}
                
            <tr onclick="window.open('{{ url_for('.verificar_factura', factura_id=pago['vbeln'], i='000',p='h') }}', '_blank')"; class="celda text-center"  style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Click para mas detalles">
                {% for clave, valor in pago.items() %}
                {% if clave == 'vbeln'%}
                <td>{{valor}}</td>
                {% elif clave == 'bldat' %}
                <td>{{ valor }} </td>
                {% elif clave == 'dmbtr' %}
                <td>{{ "{:,.2f}".format(valor|abs) }} </td>
                {% elif clave == 'basei' %}
                <td>{{valor}}</td>
                {% elif clave == 'impte' %}
                <td>{{ "{:,.2f}".format(valor|abs) }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th>N° Doc. Comercial</th>
                <th>Fecha doc.</th>
                <th>Monto Bs</th>
                <th>Base Bs</th>
                <th>Importe Bs</th>
            </tr>
        </tfoot>
    </table>
</div>



{% endif %}
</main>
{% endblock %}

{% block js%}

<script>
// Eliminar las clases predeterminadas de los botones
$.fn.dataTable.Buttons.defaults.dom.button.className = '';

$(document).ready(function() {
    var table = $('#example').DataTable({
        lengthChange: false,
        buttons: [
            {
                extend: 'copy',
                className: 'button-name'
            },
            {
                extend: 'excel',
                className: 'button-name'
            },
            {
                extend: 'pdf',
                className: 'button-name'
            },
            {
                extend: 'pageLength',
                className: 'button-name'
            }
        ],
        responsive: true
    });

    table.buttons().container()
        .appendTo('#example_wrapper .col-md-6:eq(0)');
});


</script>

{% endblock %}
