{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}
{% block main %}


<main class="position-relative mt-2 p-3 mb-5"  >
  <div class=" z-0 container p-0 " >
    <div class="row d-flex gap-2 mb-2">

      <div class="col-xl col-lg-12 col-sm-12 col-md-12 p-0 m-0 d-flex flex-column gap-3 align-items-center" >



          <div class="base-contenedor d-flex flex-column w-100">
            <div class="titulo px-2 d-flex ">
              <h3>Deuda</h3>
            </div>
            <div class="d-flex flex-column gap-3 py-2 px-3">
              <div class=" data "> <div class="icono rojo_mmg"> <p>Bs</p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{ "{:,.2f}".format( total_deudas_bs|float|abs - deuda_dif_bs|float|abs )  }}</p> </div> </div>
              <div class=" data "> <div class="icono verde_dolar"> <p> <i class="bi bi-currency-dollar"></i> </p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{ "{:,.2f}".format(total_deudas_dolares|float|abs - deuda_dif_dolar|float|abs) }}</p> </div></div>
            </div>
          </div>


          <div class="base-contenedor d-flex flex-column w-100 ">
            <div class="titulo px-2">
              <h3>Saldo a favor</h3>
            </div>
            <div class="d-flex flex-column gap-3 py-2 px-3">
              <div class=" data "> <div class="icono rojo_mmg"> <p>Bs</p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{ "{:,.2f}".format(total_saldo_bs|float|abs - favor_dif_bs|float|abs ) }}</p> </div> </div>
              <div class=" data "> <div class="icono verde_dolar"> <p> <i class="bi bi-currency-dollar"></i> </p> </div> <div class="d-flex align-items-center pr-2"><p class="valor"> {{ "{:,.2f}".format(total_saldo_dolar|float|abs - favor_dif_dolar|float|abs) }}</p> </div></div>
            </div>
          </div>


      </div>
    

      <div class="d-flex flex-column gap-4  align-items-center col-xl-9 col-lg-12 col-md-12 col-sm-12 m-0 base-contenedor" >

          

        
        
        <!--<p>{% if total_vencido_d > 0 %}{{"{:,.2f}".format(total_vencido_d|float|abs)}}($) | {{"{:,.2f}".format(total_vencido_b|float|abs)}}(bs){% else %}  {%endif%}</p>-->
        <div class="d-flex w-100 gap-3">
          <h3 class=" m-0 " style="text-align:left; width:40%">  Deuda total vencida: </h3>
          <div class=" w-25 data justify-content-center"> <div class="icono rojo_mmg"> <p>Bs</p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{% if total_vencido_d > 0 %}{{"{:,.2f}".format(total_vencido_b|float|abs)}}  {%endif%}</p> </div> </div>
          <div class="w-25 data justify-content-center"> <div class="icono verde_dolar"> <p> <i class="bi bi-currency-dollar"></i> </p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{% if total_vencido_d > 0 %}{{"{:,.2f}".format(total_vencido_d|float|abs)}} {%endif%}</p> </div></div>
        </div>

        <!--↓↓Otra fila ↓↓↓-->
        <div class="row w-100 d-flex gap-2 mt-2">

          <div class="col divs-in-deuda">
            <h2>No Vencida</h2>

            <div class="d-flex flex-column gap-4 ">
              <div class=" data "> <div class="icono rojo_mmg"> <p>Bs</p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{  "{:,.2f}".format(no_vencido_bs|float|abs) }}</p> </div> </div>
              <div class=" data "> <div class="icono verde_dolar"> <p> <i class="bi bi-currency-dollar"></i> </p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{ "{:,.2f}".format(no_vencido_dolar|float|abs)}}</p> </div></div>
            </div>
          </div>

          <div class="col divs-in-deuda">
            <h2>Vencido 1-30</h2>

            <div class="d-flex flex-column gap-4 ">
              <div class=" data "> <div class="icono rojo_mmg"> <p>Bs</p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{"{:,.2f}".format(vencido_130_b|float|abs)}}</p> </div> </div>
              <div class=" data "> <div class="icono verde_dolar"> <p> <i class="bi bi-currency-dollar"></i> </p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{"{:,.2f}".format(vencido_130_d|float|abs)}}</p> </div></div>
            </div>
          </div>

          <div class="col divs-in-deuda">
            <h2>Vencido 31-60</h2>

            <div class="d-flex flex-column gap-4 ">
              <div class=" data "> <div class="icono rojo_mmg"> <p>Bs</p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{"{:,.2f}".format(vencido_3160_b|float|abs)}}</p> </div> </div>
              <div class=" data "> <div class="icono verde_dolar"> <p> <i class="bi bi-currency-dollar"></i> </p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{"{:,.2f}".format(vencido_3160_d|float|abs)}}</p> </div></div>
            </div>
          </div>

          <div class="col divs-in-deuda">
            <h2>Vencido 60+</h2>

            <div class="d-flex flex-column gap-4 ">
              <div class=" data rounded"> <div class="icono rojo_mmg"> <p>Bs</p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{"{:,.2f}".format(vencido_60_b|float|abs)}}</p> </div> </div>
              <div class=" data rounded"> <div class="icono verde_dolar"> <p> <i class="bi bi-currency-dollar"></i> </p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{"{:,.2f}".format(vencido_60_d|float|abs)}}</p> </div></div>
            </div>
          </div>

        </div>

        <!--↓↓↓ Otra Fila ↓↓↓-->

        <div class="w-100 mt-4">
          <h4> Este cálculo solo corresponde al monto de la deuda vencida. </h4>
        </div>
        
      
          <!-- 
          <div class="w-100 p-3 mt-1 " style="background-color: #EFEFEF; border-radius:13px">
            
            <table id="tabla">
                <thead>
                    <tr>
                        <th> <h2>  Vencimiento </h2></th>
                        <th > <h2> Monto en bs </h2></th>
                        <th> <h2> Monto en $ </h2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p class="valor"> 1-30</p> </td>
                        <td> <p class="valor">{{"{:,.2f}".format(vencido_130_b|float|abs)}}</p> </td>
                        <td> <p class="valor"> {{"{:,.2f}".format(vencido_130_d|float|abs)}}</p> </td>
                        <!---
                        <td><span class="status completed">Completed</span></td>
                        
                    </tr>
                    <tr>
                        <td> <p class="valor">31-60</p> </td>
                        <td> <p class="valor"> {{"{:,.2f}".format(vencido_3160_b|float|abs)}} </p> </td>
                        <td>  <p class="valor"> {{"{:,.2f}".format(vencido_3160_d|float|abs)}} </p> </td>
                        <!--
                        <td><span class="status pending">Pending</span></td>
                        
                    </tr>
                    <tr>
                        <td> <p class="valor">60+</p> </td>
                        <td> <p class="valor"> {{"{:,.2f}".format(vencido_60_b|float|abs)}} </p> </td>
                        <td> <p class="valor"> {{"{:,.2f}".format(vencido_60_d|float|abs)}} </p>   </td>
                        <!--
                        <td><span class="status process">Processing</span></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>-->
      </div>
    </div>



<!--//////////////////////////////////////Otra Fila//////////////////////////////////////////////////////////////////-->

    <div class="row d-flex gap-2 mb-2 mt-3">
      <div class="col-xl col-lg-12 col-sm-12 col-md-12 p-0 m-0 d-flex flex-column gap-3 align-items-center" >
        <div class="row w-100 gap-2">
          <!-- 
          <div class="base-contenedor d-flex flex-column col">
            <div class="titulo px-2 d-flex ">
              <h3>Otras Deudas </h3>
            </div>
            <div class="d-flex flex-column gap-3 py-2 px-3">
              <div class=" data "> <div class="icono rojo_mmg"> <p>Bs</p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{ "{:,.2f}".format( total_deudas_bs|float|abs - deuda_dif_bs|float|abs )  }}</p> </div> </div>
              <div class=" data "> <div class="icono verde_dolar"> <p> <i class="bi bi-currency-dollar"></i> </p> </div> <div class="d-flex align-items-center pr-2"><p class="valor">{{ "{:,.2f}".format(total_deudas_dolares|float|abs - deuda_dif_dolar|float|abs) }}</p> </div></div>
            </div>
          </div>
          -->

        <div class="base-contenedor d-flex flex-column col ">
          <div class="titulo px-2 mb-2">
            <h3>Documentos</h3>
          </div>
          <div class="d-flex flex-column gap-2 pt-3 ">
            <a class="elemento-dentro" href="{{ url_for('.lista_cobranza', filtro='Pendiente por pagar') }}" style="cursor: pointer;">
              <div class="d-flex align-items-center gap-1">
                <div class="icono azul_byk"> <p> <i class="bi bi-cash"></i> </p></div>
                <h2 class="m-0">Por pagar</h2> 
              </div>

              {% set na = namespace(contador=0) %}
              {% for factura in facturas %}
                {% if 'blart' in factura and 'dmbtr' in factura %}
                  {% if (factura['blart'] == 'RV' and factura['status'] == '') 
                        or factura['blart'] == 'DA' 
                        or (factura['blart'] == 'DZ' and factura['dmbtr'] > 0) %}
                    {% set na.contador = na.contador + 1 %}
                  {% endif %}
                {% endif %}
              {% endfor %}

              <div class="d-flex justify-content-center align-items-center h-50">
                <p class="my-0 valor" id="cantidadfacts" style="margin-right: 14px;">{{ na.contador }}</p>
              </div>
            </a>

            
            <a class="elemento-dentro" href="{{ url_for('.lista_cobranza', filtro='Abono') }}">
              <div class="d-flex align-items-center gap-1">
                <div class="icono amarillo_kbrn"> <p>  <i class="bi bi-piggy-bank"></i> </p></div>
                <h2 class="m-0">Abono por conciliar</h2> 
              </div> 

              {% set nb = namespace(contador=0) %}
              {% for factura in facturas %}
                {% if 'blart' in factura and 'dmbtr' in factura %}
                  {% if (factura['blart'] == 'AB') 
                        or (factura['blart'] == 'DZ' 
                            and factura['dmbtr'] < 0 
                            and factura['pagaiva'] != 'S') %}
                    {% set nb.contador = nb.contador + 1 %}
                  {% endif %}
                {% endif %}
              {% endfor %}

              <div class="d-flex justify-content-center align-items-center h-50">
                <p class="my-0 valor" id="cantidadfacts" style="margin-right: 14px;">{{ nb.contador }}</p>
              </div>
            </a>

          </div>
        </div>

        
        <div class="base-contenedor d-flex flex-column col ">
          <div class="titulo px-2 mb-2">
  
            <h3>Por verificar</h3>
          </div>
          <div class="d-flex flex-column gap-2 pt-3 ">
            <a class="elemento-dentro " href="{{ url_for('.lista_cobranza', filtro='Factura validar') }}" style="cursor: pointer;"">
              <div class="d-flex align-items-center gap-1">
                <div class="icono azul_byk "> <p>  <i class="bi bi-receipt"></i> </p></div>
                <h2 class="m-0">Facturas</h2> 
              </div>
              <input type="hidden" name="" id="facturas" value="{{facturas}}">
              {% set nd = namespace(contador=0) %}
              {% for factura in facturas %}
                {% if 'status' in factura %}
                  {%  if factura['status'] == 'P'  %}
                      {% set nd.contador = nd.contador + 1 %}
                    {% endif %}
                  {% endif %}
              {% endfor %}
              <div class="d-flex justify-content-center align-items-center h-50">
                  <p class="my-0 valor" id="cantidadfacts" style="margin-right: 14px;">{{ nd.contador }}</p>
              </div>
            </a>

            <a class="elemento-dentro "  href="{{ url_for('.lista_cobranza', filtro='Iva validar') }}">
              <div class="d-flex align-items-center gap-1">
                <div class="icono amarillo_kbrn"> <p>  <i class="bi bi-bank"></i> </p></div>
                <h2 class="m-0">Iva</h2> 
              </div>

              <div class="d-flex justify-content-center align-items-center h-50">
                  <p class="my-0 valor" id="cantidadfacts" style="margin-right: 14px;">{{ iva_x_pagar }}</p>
              </div>
            </a>
          </div>
        </div>

      </div>

    </div>
  

    <div class="d-flex flex-column  align-items-center col-xl-4 col-lg-12 col-md-12 col-sm-12 m-0 p-0 " >
      <div class="row w-100 gap-2">

      

      

  
        <div class="base-contenedor d-flex flex-column col ">
          <div class="titulo px-2 mb-2">
            <h3>Retenciones</h3>
          </div>
          <div class="d-flex flex-column gap-2 pt-3 ">
            <a class="elemento-dentro"  href="{{ url_for('.certificados_pendientes') }}" style="cursor: pointer;"">
              <div class="d-flex align-items-center gap-1">
                <div class="icono azul_byk"> <p>  <i class="bi bi-clipboard2-check"></i> </p></div>
                <h2 class="m-0">Por registrar</h2> 
              </div>
  
              <div class="d-flex justify-content-center align-items-center h-50">
                  <p class="my-0 valor" id="cantidadfacts" style="margin-right: 14px;">{{ contador_fact }}</p>
              </div>
            </a>
            
            <a class="elemento-dentro "  href="{{ url_for('.ret_enviadas', filtro='Pendiente') }}">
              <div class="d-flex align-items-center gap-1">
                <div class="icono amarillo_kbrn"> <p>  <i class="bi bi-ui-checks"></i> </p></div>
                <h2 class="m-0">Por verificar</h2> 
              </div>
  
              <div class="d-flex justify-content-center align-items-center h-50">
                  <p class=" my-0 valor" id="cantidadfacts" style="margin-right: 14px;">{{contador_retenciones_pendientes}}</p>
              </div>
            </a>
          </div>
        </div>
  
      </div>

  </div>
</div>



<!-- ------------------------------------Otra Fila------------------------------------------>



    <div class="row d-flex gap-2 mb-2 mt-3">
      <div class="col-xl col-lg-12 col-sm-12 col-md-12 p-0 m-0 d-flex flex-column gap-3 align-items-center" >
        <div class="row w-100 gap-2">
          <div class="tabla p-4 col-xl-12 col-lg col-md col-sm-12 table-responsive   " style="max-height: 300px ; overflow: auto;"  >
            <h3 class=" text-right w-100 "> Descuentos por pronto pago disponibles a la fecha</h3>
            <table class="table m-0 w-100 table-sm  text-center " >
              <thead>
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Factura N°</th>
                  <th scope="col">Monto (bs)</th>
                  <th scope="col">Monto descuento (bs)</th>
                  <th scope="col">Monto ($)</th>
                  <th scope="col">Monto con descuento ($)</th>
                </tr>
              </thead>
              <tbody>
                {% for factura in facturas %}
                {% if 'blart' in factura %}
                {%  if factura['blart'] == 'RV' and factura['dppbs']>0 %}
                <tr>
                  <td>{{factura['fkdat'] }}</td>
                  <td>{{factura['vbeln'] }}</td>
                  <td>{{ "{:,.2f}".format(factura['totfactbs']|float|abs) }}</td>
                  <td>{{"{:,.2f}".format(factura['totfactbs']-factura['dppbs']) }}</td>
                  <td>{{ "{:,.2f}".format(factura['dmbtr']|float|abs) }}</td>
                  <td>{{"{:,.2f}".format(factura['dmbtr']-factura['montoncdpp']) }}</td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div> 
</main>




{% endblock %}

{% block js%}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>  
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>  
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bulma.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
<script>  

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})






</script>













{% endblock %}