{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}
{% block main %}

<main class="position-relative mt-2 px-3 " style="min-height: 100vh;" >

<div class="courses-container z-0 container p-0 " >
  <div class="row d-flex gap-4 mb-4">

    <div class="col-xl col-lg-12 col-sm-12 col-md-12 p-0 m-0 d-flex flex-column gap-2 align-items-center" >

        <div class="tarjeta_saldo hover  mb-4 w-100 col-xl-12 col-lg-6 col-md-6 col-sm" >
          <div class="titulo_saldo d-flex align-items-center gap-2 m-0 p-0">
              <div class="icono_tarjeta verde_dolar text-white mr-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-currency-dollar d-flex align-items-center justify-content-center"></i>
              </div>
              <p class="ui-tittle text-center m-0 p-0">
                  Deuda
              </p>
          </div>
          <div class="d-flex justify-content-between px-3" >
              <div> <p class="etiqueta-size">Monto $</p></div>  <div><p class="etiqueta-size">{% if total_dolares > 0 %} {{ "{:,.2f}".format(total_dolares|float|abs) }} {% else %}0 {% endif %}</p></div>
          </div>
          <div class="d-flex justify-content-between px-3" >
            <div><p class="etiqueta-size">Monto bs</p></div>  <div>  <p class="etiqueta-size">{% if total_bolos > 0 %}{{ "{:,.2f}".format(total_bolos|float|abs) }}{% else %}0 {% endif %} </p> </div>
        </div>
        </div>
      
        <div class="tarjeta_saldo w-100  col-xl-12 col-lg col-md col-sm hover" >
          <div class="titulo_saldo d-flex align-items-center gap-2">
              <div class="icono_tarjeta rojo_mmg text-white mr-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-wallet2 d-flex align-items-center justify-content-center"></i>
              </div>
              <p class="ui-tittle text-center m-0 p-0">
                Saldo a favor
              </p>
          </div>
          <div class="d-flex justify-content-between px-3">
            <div><p class="etiqueta-size">Monto $</p></div>  <div><p class="etiqueta-size ">{% if total_dolares < 0 %}{{ "{:,.2f}".format(total_dolares|float|abs) }}{% else %}0.00 {% endif %} </p> </div>
        </div>
        <div class="d-flex justify-content-between px-3">
          <div><p class="etiqueta-size">Monto bs</p></div> <div> <p class="etiqueta-size">{% if total_bolos < 0 %}{{ "{:,.2f}".format(total_bolos|float|abs) }}{% else %}0.00 {% endif %}</p> </div>  
      </div>
        </div>

    </div>
	

  <div class="d-flex flex-column  align-items-center col-xl-9 col-lg-12 col-md-12 col-sm-12 m-0 " style="background-color: #fdfdfd; padding: 20PX; border-radius: 16px;">
    <h3 class="ui-tittle text-right w-100 mb-2">  Deuda total vencida: {% if total_vencido_d > 0 %}{{"{:,.2f}".format(total_vencido_d|float|abs)}}($) | {{"{:,.2f}".format(total_vencido_b|float|abs)}}(bs){% else %}  {%endif%}</h3>
    <div class="row d-flex gap-3 px-3 pt-1 ">
      <a class="course hover col-sm-12 col-xl" > <!--si es verificado se aplica este (porque esta en verde)-->
        <div class="course-info d-flex flex-column justify-content-between ">
          <h6 class="mx-1 ui-tittle fs-5">Vencido 1-30 </h6>
          <div class="d-flex justify-content-between "> <div><p> <strong class="text-muted"> Monto (bs): </strong> </p> </div> <div> <span class="texto2">{% if vencido_130_b > 0 %} {{"{:,.2f}".format(vencido_130_b|float)}} {% else %} 0.00{% endif %} </span> </div> </div>
          <div class="d-flex justify-content-between "> <div> <p> <strong class="text-muted "> Monto ($): </strong> </p> </div> <div> <span class="texto2">{% if vencido_130_d > 0 %} {{"{:,.2f}".format(vencido_130_d|float)}}{% else %} 0.00{% endif %} </span> </div> </div>
          

        </div>
      </a>
      <a class="course hover col-sm-12 col-xl" > <!--si es verificado se aplica este (porque esta en verde)-->
        <div class="course-info d-flex flex-column justify-content-center ">

          <h6 class="mx-1 ui-tittle fs-5">Vencido 31-60 </h6>
          <div class="d-flex justify-content-between"> <div>  <p> <strong class="text-muted"> Monto (bs): </strong> </p> </div> <div>  <span class="texto2">{% if vencido_3160_b > 0 %} {{"{:,.2f}".format(vencido_3160_b|float)}}{% else %} 0.00{% endif %} </span></div> </div>
          <div class="d-flex justify-content-between" > <div>  <p> <strong class="text-muted "> Monto ($): </strong> </p> </div> <div>  <span class="texto2">{% if vencido_3160_d > 0 %}  {{"{:,.2f}".format(vencido_3160_d|float)}}{% else %} 0.00{% endif %} </span> </div> </div>
          

        </div>
      </a>
      <a class="course hover col-sm-12 col-xl" > <!--si es verificado se aplica este (porque esta en verde)-->
        <div class="course-info d-flex flex-column justify-content-center ">
          <h6 class="mx-1 ui-tittle fs-5">Vencido 60+ </h6>
          <div class="d-flex justify-content-between"> <div> <p> <strong class="text-muted"> Monto (bs): </strong> </p> </div> <div> <span class="texto2">{% if vencido_60_b > 0 %} {{"{:,.2f}".format(vencido_60_b|float)}}{% else %} 0.00 {% endif %} </span> </div> </div>
          <div class="d-flex justify-content-between"> <div> <p> <strong class="text-muted "> Monto ($): </strong> </p> </div> <div>  <span class="texto2">{% if vencido_60_d > 0 %}  {{"{:,.2f}".format(vencido_60_d|float)}}{% else %} 0.00{% endif %} </span></p> </div> </div>
          

        </div>
      </a>
      <p><em>Este cálculo solo corresponde al monto de la deuda vencida.</em></p>
    </div>
  </div>
  </div>
</div>

<!-- ------------------------------------Otra Fila------------------------------------------>

<div class="courses-container z-0 container p-0 w-100 " >
  <div class="row d-flex gap-4 mb-4 w-100 p-0">
    <div class="col-12 p-0 m-0 w-100">

      <div class="row d-flex m-0 p-0 w-100 gap-4 este">
        <a class="tarjeta_saldo hover mb-0 w-100  col text-decoration-none text-dark" href="{{ url_for('.lista_cobranza', filtro='Pendiente Por pagar') }}">
          <div class="titulo_saldo d-flex align-items-center gap-2">
            <div class="icono_tarjeta rojo_mmg text-white mr-2 d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-receipt"></i>
            </div>
            <p class="ui-tittle-dos " >
              Documentos Pendientes por pagar
            </p>
          </div>
          {% set na = namespace(contador=0) %}
            {% for factura in facturas %}
              {% if 'blart' in factura %}
                {%  if factura['blart'] == 'RV' and factura['status']=='' %}
                    {% set na.contador = na.contador + 1 %}
                  {% endif %}
                {% endif %}
            {% endfor %}
            <div class="d-flex justify-content-center align-items-center h-50">
                <p class="etiqueta-size2" id="cantidadfacts">{{ na.contador }}</p>
            </div>
            <h6 class="masinfotarj w-100 mt-5">Ver Detalles <i class="bi bi-arrow-right"></i></h6>
          </a>


                    <!--Siguiente tarjeta saldo-->

                    <a class="tarjeta_saldo hover w-100 col text-decoration-none text-dark" href="{{ url_for('.lista_cobranza', filtro='Pendiente Por validar') }}">
                      <div class="titulo_saldo d-flex align-items-center gap-2">
                          <div class="icono_tarjeta verde_dolar text-white mr-2 d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-money-bills"></i>
                          </div>
                          <p class="ui-tittle-dos text-center">
                              Documentos por verificar
                          </p>
                      </div>
                      {% set nd = namespace(contador=0) %}
                        {% for factura in facturas %}
                          {% if 'status' in factura %}
                            {%  if factura['status'] == 'P'  %}
                                {% set nd.contador = nd.contador + 1 %}
                              {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="d-flex justify-content-center align-items-center h-50">
                          <p class="etiqueta-size2" id="cantidadver">{{ nd.contador }}</p>
                        </div>
                        <h6 class="masinfotarj w-100 mt-5">Ver Detalles <i class="bi bi-arrow-right"></i></h6>
                    </a>
          <!--Siguiente tarjeta saldo-->

          <a class="tarjeta_saldo hover col w-100 col text-decoration-none text-dark" href="{{ url_for('.lista_cobranza', filtro='Abono') }}">
            <div class="titulo_saldo d-flex align-items-center gap-2">
                <div class="icono_tarjeta amarillo_kbrn text-dark mr-2 d-flex align-items-center justify-content-center">
                  <i class="fa-solid fa-receipt"></i>
                </div>
                <p class="ui-tittle-dos text-center">
                    Abonos por conciliar
                </p>
            </div>
            {% set nb = namespace(contador=0) %}
              {% for factura in facturas %}
                {% if 'blart' in factura %}
                  {%  if factura['blart'] == 'DZ' %}
                      {% set nb.contador = nb.contador + 1 %}
                    {% endif %}
                  {% endif %}
              {% endfor %}
              <div class="d-flex justify-content-center align-items-center h-50">
                <p class="etiqueta-size2" id="cantidadAbon">{{ nb.contador }}</p>
              </div>
              <h6 class="masinfotarj w-100 mt-5">Ver Detalles <i class="bi bi-arrow-right"></i></h6>
          </a>




          <a class="tarjeta_saldo hover col  mb-0 w-100   text-decoration-none text-dark" href="{{ url_for('.certificados_pendientes')}}">
            <div class="titulo_saldo d-flex align-items-center gap-2">
                <div class="icono_tarjeta amarillo_kbrn p-1 text-dark d-flex align-items-center justify-content-center" style="width: 40px;">
                  <i class="fa-solid fa-receipt"></i>
                </div>
                <p class="ui-tittle-dos lh-1 " >
                    Facturas Pendientes por certificado de retención
                </p>
            </div>
              <div class="d-flex justify-content-center align-items-center h-50">
                  <p class="etiqueta-size2" id="factspend">{{ contador_fact }}</p>
              </div>
              <h6 class="masinfotarj w-100 mt-5">Ver Detalles <i class="bi bi-arrow-right"></i></h6>
          </a>
        </div>
      </div>


    </div>
</div>

<!---->
<div class="courses-container z-0 container p-0 w-100 " >
  <div class="row d-flex gap-4 mb-4 w-100 p-0">
    <div class="col-12 p-0 m-0 w-100">

      <div class="tabla p-4 col-xl col-lg col-md col-sm-12 table-responsive tabla-facturas d-flex justify-content-center flex-column" >
        <h3 class="ui-tittle text-right w-100 mb-2"> Descuentos por pronto pago disponibles a la fecha</h3>
        <table class="table m-0 w-100 table-sm  " >
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Factura N°</th>
              <th scope="col">Monto (bs)</th>
              <th scope="col">Monto descuento (bs)</th>
              <th scope="col">Monto ($)</th>
              <th scope="col">Monto con descuento ($)</th>
            </tr>
          </thead>
          <tbody>
            {% for factura in facturas %}
            {% if 'blart' in factura %}
            {%  if factura['blart'] == 'RV' and factura['dppbs']>0 %}
            <tr>
              <td>{{factura['fkdat'] }}</td>
              <td>{{factura['vbeln'] }}</td>
              <td>{{ "{:,.2f}".format(factura['totfactbs']|float|abs) }}</td>
              <td>{{"{:,.2f}".format(factura['totfactbs']-factura['dppbs']) }}</td>
              <td>{{ "{:,.2f}".format(factura['dmbtr']|float|abs) }}</td>
              <td>{{"{:,.2f}".format(factura['dmbtr']-factura['montoncdpp']) }}</td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>


    </div>
</div>
    
  
</main>




{% endblock %}

{% block js%}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>  
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>  
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bulma.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
<script>  

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})






</script>




{% endblock %}