{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}
{% block main %}
<main class="px-3 pt-3">
{% if current_user.nivel =="cliente" %}


<div class="my-5 container table-responsive tabla w-75 w-100 "  >  
    <div class="fechas d-flex w-100 mb-3 justify-content-between align-items-center ">
        <div class="row w-100 d-flex justify-content-between align-items-center">
            <div class="col">
                <h5 class="ui-tittle" style="font-size: 17px;" >Indique la fecha desde la cual desea visualizar el historial de documentos</h5>
            </div>
            <div class="col-5">
                <input type="date" class="inputField w-50" id="tamaño"> 
                <button type="submit" id="act" class="button-name">Enviar</button>
            </div>
        </div>            
    </div>
        

    <table id="example" class="dataTable table" style="width:100%;">
        <thead>
            <tr>
                <th>N° Doc. Comercial</th>
                <th>Descripción</th>
                <th>Fecha emisión</th>
                <th>Monto $</th>
                <th>Monto Bs</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in pagos %}
            {% if pago['blart'] !='AB'%}
            {% if pago['blart'] != 'ZD' %}
            {% if pago['blart'] != 'DA' %}
            <tr onclick="window.open('{{ url_for('.verificar_factura', factura_id=pago['vbeln'], i=pago['buzei'], p='h') }}', '_blank')"; class="celda text-center"  style="cursor:pointer;" >
                <td >{{pago['vbeln']}}</td>
                <td>{% if pago['blart'] == 'DZ' %}Abono{% elif pago['blart'] == 'RV' and pago['dmbtr']>0 %}Factura{% elif pago['blart'] == 'RV' and 0>pago['dmbtr'] %}Nota de Crédito{% else %}{{pago['blart']}}{% endif %}</td>
                <td class="">{{pago['fkdat']}} </td>
                
                <td>{{ "{:,.2f}".format(pago['dmbtr']|abs) }} </td>
                <td>{{ "{:,.2f}".format(pago['totfactbs']|abs) }}</td>
        </tr>
        {% endif %}
        {% endif %}
            {% endif %}
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th>N° Doc. Comercial</th>
                <th>Descripción</th>
                <th>Fecha emisión</th>
                <th>Monto $</th>
                <th>Monto Bs</th>
            </tr>
        </tfoot>
    </table>
</div>


{% endif %}
</main>
{% endblock %}

{% block js%}


<script>
// Eliminar las clases predeterminadas de los botones
$.fn.dataTable.Buttons.defaults.dom.button.className = '';

$(document).ready(function() {
    var table = $('#example').DataTable({
        lengthChange: false,
        buttons: [
            {
                extend: 'copy',
                className: 'button-name'
            },
            {
                extend: 'excel',
                className: 'button-name'
            },
            {
                extend: 'pdf',
                className: 'button-name'
            },
            {
                extend: 'pageLength',
                className: 'button-name'
            }
        ],
        responsive: true
    });

    table.buttons().container()
        .appendTo('#example_wrapper .col-md-6:eq(0)');
});

$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})

$(document).ready(function() {
  $('#tamaño').datepicker({
    format: 'yyyy-mm-dd' 
  });
});

</script>



{% endblock %}
