{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}
{% block container %}


<main class="d-flex justify-content-center">
<div class="contenedor container col-xl-8 col-sm-12">
    <div class="titulo d-flex justify-content-center">
        <h3 class="fs-1">Factura N°: {{ datos['vbeln'] }} </h2>
    </div>
    <hr class= "w-100 mx-2">

    <div class="celdas w-100 ">
    
      <div class="cont d-flex justify-content-center">
        <div class="datos ">  
          <p class="titulo"> <strong>Rif:</strong> {{ datos['kunnr'] }} </p>
        </div>
      </div>

      <div class="cont">
        <div class="datos">
          <p class="titulo"> <strong>Fecha documento:</strong> {{ datos['bldat'] }} </p>
        </div>
      </div>

      <div class="cont">
        <div class="datos">
          <p class="titulo"> <strong>Monto Total $:</strong> {%if datos['dmbtr'] <0 %}{{ "{:,.2f}".format((datos['dmbtr'] * (-1))|abs) }} {%elif datos['dmbtr'] >0 %}{{ "{:,.2f}".format(datos['dmbtr']|abs) }}{%endif%} </p>
        </div>
      </div>
      
      <div class="cont">
        <div class="datos">
          <p class="titulo"> <strong>Monto Base Bs:</strong> {{ "{:,.2f}".format(datos['basei']|abs) }} </p>
        </div>
      </div>

      <div class="cont">
        <div class="datos">
          <p class="titulo"> <strong>Monto Importe Bs:</strong> {{ "{:,.2f}".format(datos['impte']|abs) }} </p>
        </div>
      </div>

   


                <!---<a href="/static/Adjunto/{{ datos.imagen }}" download="{{ datos.imagen }}">-->
               <!--- <img   {% if datos.imagen %} src="/static/Adjunto/{{ datos.imagen }}" {% else %}  {% endif %} alt="">-->
    </div>
    <hr class= "w-100 mx-2">
  </div>
</main>





{% endblock %}