{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}
{% block main %}
<main class="px-3 pt-3">
{% if current_user.nivel =="cliente" %}
    <div class="my-5 container table-responsive tabla w-75 w-100 "  >  
    <table id="example" class="dataTable table" style="width:100%;">
        <thead>
            <tr>
                <th>N° Retencion</th>
                <th>Estatus</th>
                <th>Fecha de registro</th>
            </tr>
        </thead>
        <tbody>
            {% for ret in retenciones %}
                
            <tr class="celda text-center"  style="cursor:pointer;">
                
                {% for clave, valor in ret.items() %}
                {% if clave == 'fechaact' %}
                <td>{{valor}}</td>
                {% elif clave == 'codigo'%}
                <td>{{valor}}</td>
                {% elif clave == 'status' %}
                <td>{% if valor == 'P' %}Pendiente{% elif valor == 'C' %}Confirmado{% endif %}</td>
                {% endif %}
                {% endfor %}
            </tr>
            
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th>N° Retencion</th>
                <th>Estatus</th>
                <th>Fecha de registro</th>
            </tr>
        </tfoot>
    </table>
</div>



{% endif %}
</main>
{% endblock %}

{% block js%}
<script>
    // Eliminar las clases predeterminadas de los botones
    $.fn.dataTable.Buttons.defaults.dom.button.className = '';
    
    $(document).ready(function() {
        var table = $('#example').DataTable({
            lengthChange: false,
            buttons: [
                {
                    extend: 'copy',
                    className: 'button-name'
                },
                {
                    extend: 'excel',
                    className: 'button-name'
                },
                {
                    extend: 'pdf',
                    className: 'button-name'
                },
                {
                    extend: 'pageLength',
                    className: 'button-name'
                }
            ],
            responsive: true
        });
    
        table.buttons().container()
            .appendTo('#example_wrapper .col-md-6:eq(0)');
    });
    
    
    </script>


{% endblock %}
