{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}
{% block main %}
<main class="px-3 pt-3">
{% if current_user.nivel =="cliente" %}
    <div class="my-5 container table-responsive tabla w-75 w-100 "  >  
    <table id="example" class="dataTable table" style="width:100%;">
        <thead>
            <tr>
                <th>N° Doc. Comercial</th>
                <th>Descripción</th>
                <th>Fecha emisión</th>
                <th>Monto $</th>
                <th>Monto Bs</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in pagos %}
                
            <tr class="celda text-center"  style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Click para mas detalles">
                {% for clave, valor in pago.items() %}
                {%if clave == 'fkdat'%}
                <td class="">{{valor}} </td>
                {% elif clave == 'blart' %}
                <td>{% if valor == 'DZ' %}Abono{% elif valor == 'RV' %}Factura{% else %}{{valor}}{% endif %}</td>
                {% elif clave == 'vbeln'%}
                <td onclick="location.href='{{ url_for('.documento',  n=valor )}}'";>{{valor}}</td>
                {% elif clave == 'dmbtr' %}
                <td>{{ "{:,.2f}".format(valor) }} </td>
                {% elif clave == 'totfactbs' %}
                <td>{{ "{:,.2f}".format(valor) }}</td>
                <td style="text-align: center;">
                    <a href="" style="text-align: center;" class="btn {% if  pago['status'] == '' %} bg-secondary text-white {% elif  pago['status'] == 'P' %} bg-warning text-white {% endif %}" >{% if  pago['status'] == '' and pago['blart'] == 'RV' %} Pendiente por pagar {% elif  pago['status'] == 'P' %} Pendiente por validar{% endif %}</a>                   
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th>N° Doc. Comercial</th>
                <th>Descripción</th>
                <th>Fecha emisión</th>
                <th>Monto $</th>
                <th>Monto Bs</th>
                <th>Estatus</th>
            </tr>
        </tfoot>
    </table>
</div>




{% else%}
<div class="tab-content" id="myTabContent" style="margin-top: 100px;">
        <div class="container mt-4 table-responsive mb-5" style="box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); padding: 20px 20px 20px 20px; border-radius: 7px;">  
            <table id="example" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>RIF</th>
                        <th>Empresa</th>
                        <th>Fecha del depósito</th>
                        <th>N° del depósito</th>
                        <th>Monto</th>
                        <th>Divisa</th>
                        <th>Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pago in pagos %}
                    <tr class="celda text-center p-5" onclick="location.href='{{ url_for('.deposito', n=pago.n_deposito)}}'"; style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Click para mas detalles">
                        
                        <td >{{pago.rif}}</td>
                        <td>{{pago.empresa}}</td>
                        <td>{{pago.fecha_deposito}}</td>
                        <td>{{pago.n_deposito}}</td>
                        <td>{{pago.monto}}</td>
                        <td>{{pago.divisa}}</td>
                        <td class="td-container">
                                {% if pago.estado == 1 %} Confirmado {% elif pago.estado == 2 %} Negado {% elif pago.estado == 0 %} Espera {% endif %}                 
                        </td>
                    </tr>
                
                    {% endfor %}
                </tbody>
        
                <tfoot>
                    <tr>
                        <th>RIF</th>
                        <th>Empresa</th>
                        <th>Fecha del depósito</th>
                        <th>N° del depósito</th>
                        <th>Monto</th>
                        <th>Divisa</th>
                        <th>Estatus</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


{% endif %}
</main>
{% endblock %}

{% block js%}

<script>
    // Función para obtener el valor de 'filtro' de la URL
    function getFilterFromUrl() {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get('filtro');
    }
    
    $(document).ready(function() {
        // Obtener el valor de 'filtro' de la URL
        var filterValue = getFilterFromUrl();
        console.log(filterValue)
    
        // Eliminar las clases predeterminadas de los botones
        $.fn.dataTable.Buttons.defaults.dom.button.className = '';
    
        var table = $('#example').DataTable({
            lengthChange: false,
            buttons: [
                {
                    extend: 'copy',
                    className: 'button-name'
                },
                {
                    extend: 'excel',
                    className: 'button-name'
                },
                {
                    extend: 'pdf',
                    className: 'button-name'
                },
                {
                    extend: 'pageLength',
                    className: 'button-name'
                }
            ],
            responsive: true
        });
    
        // Aplicar el filtro de búsqueda después de que el DataTable esté inicializado
        if (filterValue) {
            table.search(filterValue).draw();
        }
    
        table.buttons().container()
        .appendTo('#example_wrapper .col-md-6:eq(0)');
    });
    
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>

    

{% endblock %}

