{% extends 'bootstrap/base.html' %}

{% block title %}
{{titulo}}
{% endblock %}

{% block metas %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel='icon' type='image/png' href="{{ url_for('static', filename = 'img/figura_corimonn.png') }}">
{% block estilos %}

{% endblock%}


{% endblock %}
{% block body %}
{% block navbar %}
<header>
  <nav>
      
      <div class="logo">
          <a href="/"><img src="{{ url_for('static', filename = 'img/CRP.png') }}" alt="#"></a>
      </div>
      
      <div class="contenedor_elementos d-none d-xl-block">

          <ul>
            <li class=""><a class="{% if titulo == 'Dashboard' %} active {% endif %}"  href="{{ url_for('.dashboard')}}">Dashboard</a></li>
            <li class=""><a class="{% if titulo == 'reporte pago' %} active {% endif %}"  href="{{ url_for('.cobranza')}}">Registrar Pago</a></li>
            <li class=""><a class="{% if titulo == 'Lista Cobranzas' %} active {% endif %}"  href="{{ url_for('.lista_cobranza')}}">Pagos</a></li>
            <li class=""><a href="/soon" class="{% if titulo == 'Pedidos' %} active {% endif %}" >Pedidos</a></li>
          </ul>
        </div>
        
      <div class="elementos_interac ">

          {% if current_user.is_authenticated %}
          <div class="user d-flex d-none d-xl-block mt-2">
            {{current_user.username}} <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <i class="bi bi-caret-down-fill"></i>
          
          </div>
          <div class="d-xl-none d-sm-block">
            <label class="burger" for="burger">
              <input type="checkbox" id="burger" >
              <span></span>
              <span></span>
              <span></span>
            </label>

          </div>

          {% else %}
          <ul class="">
            <li class="active mx-1"><a href="/login" class="boton"> Inicio de Sesión </a></li> 
        </ul>
        {% endif %}  
      </div>
      <div class="sub-menu-wrap d-none d-xl-block">
          <div class="sub-menu ">
              <div class="user-info " >
                  <svg xmlns="http://www.w3.org/2000/svg" class="mx-3 mb-2" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    
                  <h3 class="fs-5">{{current_user.username}}</h3>
              </div>
              <hr>
              {% if current_user.nivel != "cliente"%}
              <a href="{{ url_for('.usuarios')}}" class="sub-menu-link">
                  <i class="bi bi-pencil-square"></i>
                  <p>Gestión de usuario</p>
                  <span>></span>
              </a>
              {% endif %}
              <a href="{{ url_for('.perfil')}}" class="sub-menu-link">
                  <i class="bi bi-gear"></i>
                  <p>Perfil</p>
                  <span>></span>
              </a>
              <a href="" class="sub-menu-link">
                  <i class="bi bi-question-circle"></i>
                  <p>Ayuda</p>
                  <span>></span>
              </a>
              <a href="{{ url_for('.logout')}}" class="sub-menu-link">
                  <i class="bi bi-door-open"></i>
                  <p>Cerrar sesión</p>
                  <span>></span>
              </a>
          </div>
          
      </div>
  </nav>

</header>

<div class="responsive_nav 	d-xl-none ">
  <div class="contenedor_elementos_responsive">
      <ul>
          <li class="mx-4 boton_menu_resp"><i class="bi bi-clipboard-data mx-3"></i><a href="{{ url_for('.dashboard')}}" class="mt-2">Dashboard</a></li>
          <li class="mx-4 boton_menu_resp"><i class="bi bi-credit-card mx-3"></i> <a href="{{ url_for('.cobranza')}}" class="mt-1">Registrar pago</a></li> 
          <li class="mx-4 boton_menu_resp"><i class="bi bi-card-checklist mx-3"></i><a href="{{ url_for('.lista_cobranza')}}" class="mt-1">Pagos</a></li>
          <li class="mx-4 boton_menu_resp"><i class="bi bi-basket2 mx-3"></i><a href="/soon" class="mt-1">Pedidos </a></li>
          <li class="mx-4 boton_menu_resp usuario_resp"> <div > <i class="bi bi-person-circle mx-3"></i> {{current_user.username}}<i class="bi bi-caret-down flecha mx-3"></i></div>
          <div class="drpdwn_usuario_responsive w-100 py-3 px-2">
            <ul>
              {% if current_user.nivel != "Cliente"%}<li class="drpdwn_item"><i class="bi bi-card-checklist mx-3"></i><a href="{{ url_for('.usuarios')}}" class="mt-1">Gestión de usuario</a></li>{% endif %}
              <li class="drpdwn_item" ><i class="bi bi-gear mx-3"></i><a href="{{ url_for('.perfil')}}" class="mt-1">Perfil</a></li>
              <li class="drpdwn_item"><i class="bi bi-door-open mx-3"></i><a href="{{ url_for('.logout')}}" class="mt-1">Cerrar Cesión</a></li>
            
            </ul>

          </div>
          
          
          </li>
      </ul>
  </div>

  <div class="footer_resp">
    <ul>
      <li class="item_resp "><i class="bi bi-question-circle algo"></i><a href=""> Ayuda</a></li>
      <li class="item_resp "><i class="bi bi-building algo"></i><a href=""> Filiales</a></li>
      <li class="item_resp "><i class="bi bi-linkedin algo"></i><a href=""> Linkedin</a></li>
  </ul>
  </div>
</div>


{% endblock %}

<div class="indice mb-5">
  <div class="mr-3 p-3" style="background-color: #D50000;">
    <h5 style="font-weight: 800; " class="text-white"> {{current_user.username}} </h5>
  </div>

  <div class=" p-3">
    <h5><strong>{{titulo}}</strong></h5>
  </div>
</div>
{% block content %}

<div class="container">
    <div class="row">
  
      <div class="col-md-12 col-md-offset-1 flash">
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            <div class="alert-container">
              {% for category, message in messages %}
                {% if category == 'error' %}
                  <div class="alert alert-danger alert-dismissible" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% else %}
                  <div class="alert alert-success alert-dismissible" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
      </div>
      {% block container %}
      
      {% endblock %}
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script>

   var header = document.querySelector('header');
    var alturaHeader = parseFloat(getComputedStyle(header).height);

    window.addEventListener('scroll', e => {
        var color;
        if (window.scrollY == 0) {
            color = 'rgba(255, 255, 255, 0.63)';
        } else if (window.scrollY >= alturaHeader && window.scrollY < 2 * alturaHeader) {
            color = 'white';
        }
        header.style.setProperty('background', color);
    });



    $(document).ready(function() {
        $('.user').on('click', function() {
            $('.sub-menu-wrap').toggleClass('active');
        });

        $('.activador_de_nav').on('click', function() {
            $('.responsive_nav').addClass('active');
        });

        $('.desactivador_de_nav').on('click', function() {
            $('.responsive_nav').removeClass('active');
        });
    });

      
    document.addEventListener("DOMContentLoaded", function() {
  const checkbox = document.getElementById("burger");
  const responsiveNav = document.querySelector(".responsive_nav");

  checkbox.addEventListener("change", function() {
    if (checkbox.checked) {
      responsiveNav.classList.add("active");
    } else {
      responsiveNav.classList.remove("active");
    }
  });
});

setTimeout(function() {
    document.querySelectorAll('.alert').forEach(function(alert) {
      alert.remove();
    });
  }, 5000);



</script>

<script type="text/javascript">
  function showContent() {
    var check1 = document.getElementById("check1");
    var check2 = document.getElementById("check2");
    var check3 = document.getElementById("check3");
    var check4 = document.getElementById("check4");
    var inputContainer = document.getElementById("banco_nacional");
    var inputContainer2= document.getElementById("banco_internacional");
    var inputContainer3 = document.getElementById("banco_nacional_ppv");
    var inputContainer4= document.getElementById("banco_internacional_ppv");
    var render_bs = document.getElementById("banco_receptor")
    var render_crp_dolar = document.getElementById("banco_receptor_dolar")
    var render_bs_ppv = document.getElementById("banco_receptor_ppv")
    var render_ppv_dlrs = document.getElementById("banco_receptor_dolar_ppv")

    if (check1.checked) {
      inputContainer.style.display = "block";
      render_bs.required = true;
      check2.disabled = true;
    } else {
      inputContainer.style.display = "none";
      render_bs.required = false;
      check2.disabled = false;
    }

    if (check2.checked){
      inputContainer2.style.display = "block";
      render_crp_dolar.required = true;
      check1.disabled = true;
    } else {
      inputContainer2.style.display = "none";
      render_crp_dolar.required = false;
      check1.disabled = false;
    }

    if (check3.checked) {
      inputContainer3.style.display = "block";
      render_bs_ppv.required = true;
      check4.disabled = true;
    } else {
      inputContainer3.style.display = "none";
      render_bs_ppv.required = false;
      check4.disabled = false;
    }

    if (check4.checked) {
      inputContainer4.style.display = "block";
      render_ppv_dlrs.required = true;
      check3.disabled = true;
    } else {
      inputContainer4.style.display = "none";
      render_ppv_dlrs.required = false;
      check3.disabled = false;
    }
  }


  function seleccionar_empresa() {

  var valorSeleccionado = document.getElementById("empresa_beneficiaria").value;

  var divCRP = document.getElementById("crp");
  var divPPV = document.getElementById("ppv");

  if (valorSeleccionado == "CRP") {
    divCRP.style.display = "block";
  } else {
    divCRP.style.display = "none";
  }

  if (valorSeleccionado == "PPV"){
    divPPV.style.display = "block";
  } else {
    divPPV.style.display = "none";
  }
}
</script>


{% block js%}

{% endblock %}
{% endblock %}
{% endblock %}
